Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: api/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: bad-ui-imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-translation
        name: check-translation
        entry: ui/build_scripts/check_translation.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*

Update api/clue/services/lookup_service.py
  api/clue/services/lookup_service.py
Due: none

Update api/clue/helper/discover.py
  api/clue/helper/discover.py
Due: none

Minor fixes
  api/clue/constants/supported_types.py
  api/clue/models/selector.py
Due: none

PR Fixes
  api/clue/constants/env.py
  api/clue/helper/discover.py
Due: none

More feedback
  api/clue/helper/discover.py
Due: none

PR Feedback
  api/clue/services/lookup_service.py
Due: none

Code fixes
  api/clue/services/lookup_service.py
  api/clue/services/type_service.py
Due: none

PR Feedback
  api/clue/services/lookup_service.py
  api/test/integration/api/test_cronjobs.py
Due: none

Fix cronjob tests
  api/test/integration/api/test_cronjobs.py
Due: none

Case insensitive type support (#7)
  api/clue/api/v1/lookup.py
  api/clue/constants/supported_types.py
  api/clue/models/selector.py
  api/test/integration/api/test_lookups.py
Due: none

convert from moment to dayjs
  ui/src/components/routes/examples/index.tsx
  ui/src/index.tsx
  ui/src/lib/utils/utils.ts
Due: lint-staged, bad-ui-imports, check-translation

Fix to moment
  ui/src/components/routes/settings/SecuritySection.tsx
Due: lint-staged, bad-ui-imports, check-translation

Action testing page
  ui/src/components/app/App.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/logins/auth/OAuthLogin.tsx
  ui/src/components/routes/Actions.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix merge error
  ui/src/components/routes/examples/index.tsx
  ui/src/components/routes/settings/SecuritySection.tsx
  ui/src/lib/utils/utils.ts
Due: lint-staged, bad-ui-imports, check-translation

Update ui/src/components/routes/Actions.tsx
  ui/src/components/routes/Actions.tsx
Due: lint-staged, bad-ui-imports, check-translation

Added action testing UI
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/Actions.tsx
  ui/src/index.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

PR Feedback
  ui/src/components/routes/Actions.tsx
Due: lint-staged, bad-ui-imports, check-translation

more feedback
  ui/src/components/routes/Actions.tsx
Due: lint-staged, bad-ui-imports, check-translation

PR Feedback
  api/clue/services/type_service.py
Due: none

PR Feedback
  api/clue/security/obo.py
Due: none

Added cache documentation
  docs/api/design/caching.en.md
  docs/api/design/caching.fr.md
Due: none

Update docs/api/design/caching.en.md
  docs/api/design/caching.en.md
Due: none

Improved error handling in OBO functionality and type service (#8)
  api/clue/security/obo.py
  api/clue/services/type_service.py
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/ClueEnrichProps.d.ts
Due: lint-staged, bad-ui-imports, check-translation

Removing geventhttpclient, reworking monkey-patching
  api/.coveragerc.pytest
  api/Dockerfile
  api/build_scripts/run_tests.py
  api/clue/app.py
  api/clue/constants/env.py
  api/clue/helper/discover.py
  api/clue/remote/datatypes/__init__.py
  api/clue/services/lookup_service.py
  api/clue/services/type_service.py
  api/poetry.lock
  api/pyproject.toml
  plugins/base/base.Dockerfile
Due: poetry-check-api

Code fixes
  api/clue/services/lookup_service.py
Due: none

fix howler test
  plugins/howler/test/test_howler.py
Due: none

Bump public plugin images
  plugins/assemblyline/manifest.yml
  plugins/crtsh/manifest.yml
  plugins/example/manifest.yml
  plugins/howler/manifest.yml
  plugins/malware_bazaar/manifest.yml
  plugins/port_lookup/manifest.yml
  plugins/virustotal/manifest.yml
Due: none

bump versions on develop
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

convert from moment to dayjs (#3)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/commons/components/notification/elements/item/NotificationItemDate.tsx
  ui/src/components/routes/examples/index.tsx
  ui/src/components/routes/settings/SecuritySection.tsx
  ui/src/lib/utils/time.ts
  ui/src/lib/utils/utils.ts
Due: lint-staged, bad-ui-imports, check-translation

Added french README
  README.fr.md
Due: none

sort supported types
  ui/src/components/routes/home/index.tsx
Due: lint-staged, bad-ui-imports, check-translation

doc fixes
  README.fr.md
Due: none
