Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: api/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: bad-ui-imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-translation
        name: check-translation
        entry: ui/build_scripts/check_translation.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*

add debian version of base plugin workflow
  .github/workflows/base-plugin-workflow.yml
  plugins/base/debian.Dockerfile
Due: none

more plugin fixes
  plugins/base/debian.Dockerfile
Due: none

fix: Fix email rendering overflow and decompression bomb handling (#60)
  api/clue/plugin/helpers/email_render.py
  api/test/unit/helpers/test_email_render.py
Due: none

fix(ui): Stop running action on failure (#62)
  ui/src/lib/components/actions/ActionForm.tsx
  ui/src/lib/components/display/json/index.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

feat(ui): enable clue replication on UI
  api/clue/services/config_service.py
  ui/src/components/app/App.tsx
  ui/src/lib/types/config.d.ts
Due: lint-staged, bad-ui-imports, check-translation

Fixed the active plugin filtering + the activity status
  ui/src/components/routes/PluginDashboard.tsx
Due: lint-staged, bad-ui-imports, check-translation

working on plugin development
  ui/src/components/app/App.tsx
  ui/src/components/builder/BuilderPage.tsx
  ui/src/components/builder/builder-plan.md
  ui/src/components/builder/canvas/CodeBlock.tsx
  ui/src/components/builder/canvas/CodePreviewPanel.tsx
  ui/src/components/builder/canvas/PipelineCanvas.tsx
  ui/src/components/builder/canvas/PipelineStep.tsx
  ui/src/components/builder/canvas/StepDetailPanel.tsx
  ui/src/components/builder/catalogue/Catalogue.tsx
  ui/src/components/builder/catalogue/CatalogueItem.tsx
  ui/src/components/builder/data/blockDefinitions.ts
  ui/src/components/builder/hooks/useCodeRenderer.ts
  ui/src/components/builder/hooks/usePipelineState.ts
  ui/src/components/builder/types.ts
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/routes/Builder.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

fix(plugin): update openssl to mitigate version conflict
  plugins/base/base.Dockerfile
Due: none

fix(assemblyline): fix assemblyline unit tests
  plugins/assemblyline/tests/test_assemblyline.py
Due: none

fix(plugin): update debian dependencies
  plugins/base/debian.Dockerfile
Due: none

build(deps): Package updates (#65)
  .vscode/settings.json
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

fix(plugin): add exception checks to validate_token, default bulk lookup
  api/clue/plugin/__init__.py
Due: none

fix(plugin): fixes to error handling
  api/clue/models/network.py
  api/clue/plugin/__init__.py
  api/test/unit/plugin/test_helpers.py
Due: none

Potential fix for pull request finding 'CodeQL / Information exposure through an exception'
  api/clue/plugin/__init__.py
Due: none

pr feedback
  api/clue/models/network.py
  api/clue/plugin/__init__.py
  api/test/unit/plugin/test_helpers.py
Due: none

pr feedback
  api/test/unit/plugin/test_endpoint_errors.py
Due: none

more work
  api/clue/plugin/__init__.py
  api/test/unit/plugin/test_endpoint_errors.py
  api/test/unit/plugin/test_helpers.py
Due: none

pr feedback
  api/clue/plugin/__init__.py
Due: none

Potential fix for pull request finding
  api/clue/plugin/__init__.py
Due: none

Update query links to point to specific documents tied to the verdict
  plugins/assemblyline/app.py
Due: none

bump base plugin version
  plugins/base/VERSION
  plugins/setup/templates/manifest.yml
Due: none

fix(plugin): fixes to error handling (#68)
  api/clue/models/network.py
  api/clue/plugin/__init__.py
  api/test/unit/plugin/test_endpoint_errors.py
  api/test/unit/plugin/test_helpers.py
  plugins/base/VERSION
  plugins/setup/templates/manifest.yml
Due: none

Fixed documentation not showing up
  ui/src/components/routes/PluginDashboard.tsx
Due: lint-staged, bad-ui-imports, check-translation

Added normalize and fixed documentation search check
  ui/src/components/routes/PluginDashboard.tsx
Due: lint-staged, bad-ui-imports, check-translation

fixing pnpm merge conflicts
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports, check-translation

removed unnecessary test case
  plugins/assemblyline/tests/test_assemblyline.py
Due: none

plugin builder stuff
  ui/src/components/builder/BuilderPage.tsx
  ui/src/components/builder/canvas/ManifestPanel.tsx
  ui/src/components/builder/canvas/PipelineCanvas.tsx
  ui/src/components/builder/hooks/usePipelineState.ts
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/routes/Builder.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

fix database issues in UI
  .vscode/settings.json
  ui/src/components/app/App.tsx
  ui/src/index.tsx
  ui/src/lib/components/stats/QueryStatus.tsx
Due: lint-staged, bad-ui-imports, check-translation

Potential fix for pull request finding
  ui/src/components/app/App.tsx
Due: lint-staged, bad-ui-imports, check-translation

Potential fix for pull request finding
  ui/src/index.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): database issues and warnings (#71)
  .vscode/settings.json
  ui/src/components/app/App.tsx
  ui/src/index.tsx
  ui/src/lib/components/stats/QueryStatus.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): added fixes to clue dashboard (#69)
  api/poetry.lock
  ui/src/components/routes/PluginDashboard.tsx
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

Add AbuseIPDB enrichment plugin
  demo/docker-compose.howler.local.yml
  plugins/abuseipdb/.dockerignore
  plugins/abuseipdb/README.md
  plugins/abuseipdb/app.py
  plugins/abuseipdb/manifest.yml
  plugins/abuseipdb/pip.conf
  plugins/abuseipdb/requirements.txt
  plugins/crtsh/.dockerignore
  plugins/crtsh/app.py
  plugins/crtsh/pip.conf
Due: none

added clue plugin template
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/plugins/CluePlugin.ts
  ui/src/plugins/store.ts
Due: lint-staged, bad-ui-imports, check-translation

added CluePluginProvider
  ui/src/components/app/App.tsx
  ui/src/components/app/providers/CluePluginProvider.tsx
  ui/src/lib/components/actions/ActionForm.tsx
  ui/src/lib/components/actions/formats/index.tsx
  ui/src/lib/hooks/ClueProvider.tsx
  ui/src/plugins/CluePlugin.ts
  ui/src/plugins/store.ts
  ui/src/plugins/test/index.tsx
Due: lint-staged, bad-ui-imports, check-translation

transformed existing result formats into builtin plugins
  ui/src/components/app/App.tsx
  ui/src/components/app/providers/CluePluginProvider.tsx
  ui/src/components/app/providers/ClueUIPluginProvider.tsx
  ui/src/lib/components/actions/formats/index.tsx
  ui/src/lib/components/fetchers/Fetcher.tsx
  ui/src/lib/components/fetchers/FetcherResultView.tsx
  ui/src/lib/hooks/ClueProvider.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/src/plugins/ClueUIPlugin.ts
  ui/src/plugins/file/index.tsx
  ui/src/plugins/graph/index.tsx
  ui/src/plugins/image/index.tsx
  ui/src/plugins/json/index.tsx
  ui/src/plugins/markdown/index.tsx
  ui/src/plugins/registry.ts
  ui/src/plugins/store.ts
  ui/src/plugins/test/index.tsx
Due: lint-staged, bad-ui-imports, check-translation

pass additional props to plugin
  ui/src/lib/components/fetchers/Fetcher.tsx
  ui/src/lib/components/fetchers/FetcherResultView.tsx
Due: lint-staged, bad-ui-imports, check-translation

changed name of plugin function
  ui/src/lib/components/actions/formats/index.tsx
  ui/src/lib/components/fetchers/FetcherResultView.tsx
  ui/src/plugins/ClueUIPlugin.ts
  ui/src/plugins/file/index.tsx
  ui/src/plugins/graph/index.tsx
  ui/src/plugins/image/index.tsx
  ui/src/plugins/json/index.tsx
  ui/src/plugins/markdown/index.tsx
  ui/src/plugins/store.ts
  ui/src/plugins/test/index.tsx
Due: lint-staged, bad-ui-imports, check-translation
