Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

poetry-check-api:
  name: poetry-check-api
  entry: api/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: bad-ui-imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

check-translation:
  name: check-translation
  entry: ui/build_scripts/check_translation.py
  language: python
  stages:
  - pre-commit

add celery support
  api/clue/api/v1/actions.py
  api/clue/models/actions.py
  api/clue/plugin/__init__.py
  api/clue/plugin/celery_app.py
  api/clue/services/action_service.py
  api/poetry.lock
  api/pyproject.toml
  ui/src/api/actions/index.ts
  ui/src/lib/components/actions/ResultModal.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/types/action.d.ts
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

cleanup and fix comments
  api/clue/api/v1/actions.py
  api/clue/plugin/__init__.py
  api/clue/services/action_service.py
  api/test/integration/api/test_static.py
Due: none

prettier fix
  ui/src/lib/hooks/ClueActionContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix result modal
  ui/src/lib/components/actions/ResultModal.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix imports
  ui/src/lib/components/actions/ResultModal.tsx
Due: lint-staged, bad-ui-imports, check-translation

added skip result modal option
  ui/src/lib/components/actions/ResultModal.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

docs: update getting started
  mkdocs/docs/developer/getting_started.md
Due: none

Update api/clue/plugin/__init__.py
  api/clue/plugin/__init__.py
Due: none

Fix monaco to use bundled version
  ui/package.json
  ui/src/components/app/App.tsx
Due: lint-staged, bad-ui-imports, check-translation

add a message when the format is not recognized in the ui
  ui/src/lib/components/actions/ResultModal.tsx
Due: lint-staged, bad-ui-imports, check-translation

added some integration tests
  api/test/integration/api/test_actions.py
  api/test/utils/test_server.py
Due: none

formatting
  api/test/utils/test_server.py
Due: none

add progress if in output
  ui/src/lib/components/actions/ResultModal.tsx
Due: lint-staged, bad-ui-imports, check-translation

Define CLUE_LOG_DIR env variable
  api/clue/models/config.py
Due: none

feat(api): Add helper function to add additional types to the supported list
  api/clue/app.py
  api/clue/constants/supported_types.py
  api/clue/extensions/config.py
  api/test/integration/extensions/test_extension_init.py
  docs/api/extensions.en.md
  docs/api/extensions.fr.md
Due: none

Update docs/api/extensions.en.md
  docs/api/extensions.en.md
Due: none

fixed extenion name
  api/clue/app.py
Due: none

Apply suggestions from code review
  api/clue/models/actions.py
  api/clue/plugin/__init__.py
  ui/src/lib/components/actions/ResultModal.tsx
Due: lint-staged, bad-ui-imports, check-translation

addressing comments and cleaning up
  api/clue/api/v1/actions.py
  api/clue/models/actions.py
  api/clue/plugin/__init__.py
  ui/src/api/actions/index.ts
  ui/src/api/actions/status.ts
  ui/src/lib/components/actions/ResultModal.tsx
Due: lint-staged, bad-ui-imports, check-translation

move plugin validation validate function
  api/clue/plugin/__init__.py
Due: none

remove keycloak cache and change bool val
  api/dev/docker-compose.yml
Due: none

prettier
  ui/src/api/actions/index.ts
Due: lint-staged, bad-ui-imports, check-translation

fix test url
  api/test/integration/api/test_actions.py
Due: none

Update splash.png
  mkdocs/docs/images/splash.png
Due: none

fix(plugin): added testing for serialization error handling
  api/clue/cache/__init__.py
  api/clue/plugin/__init__.py
  api/test/unit/plugin/test_response_serialization.py
Due: none

remove keycloak cache and change bool val (#22)
  api/dev/docker-compose.yml
Due: none

reorganized
  api/clue/plugin/__init__.py
  api/clue/services/action_service.py
  ui/src/api/actions/index.ts
  ui/src/api/actions/status.ts
  ui/src/lib/components/actions/ResultModal.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/useActionResult.tsx
Due: lint-staged, bad-ui-imports, check-translation

cleanup
  ui/src/api/actions/status.ts
  ui/src/lib/hooks/ClueActionContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

result modal styling
  ui/src/lib/components/actions/ResultModal.tsx
Due: lint-staged, bad-ui-imports, check-translation

add get_status to test server
  api/test/utils/test_server.py
Due: none

feat(api): Add helper function to add additional types to the support… (#21)
  api/clue/app.py
  api/clue/constants/supported_types.py
  api/clue/extensions/config.py
  api/test/integration/extensions/test_extension_init.py
  docs/api/extensions.en.md
  docs/api/extensions.fr.md
Due: none

feat(api):added alfred incident id in supported types
  api/clue/constants/supported_types.py
Due: none

Async actions with Celery (#18)
  api/clue/api/v1/actions.py
  api/clue/models/actions.py
  api/clue/plugin/__init__.py
  api/clue/plugin/celery_app.py
  api/clue/services/action_service.py
  api/poetry.lock
  api/pyproject.toml
  api/test/integration/api/test_actions.py
  api/test/integration/api/test_static.py
  api/test/utils/test_server.py
  ui/src/api/actions/index.ts
  ui/src/api/actions/status.ts
  ui/src/lib/components/actions/ResultModal.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/useActionResult.tsx
  ui/src/lib/types/action.d.ts
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

fix: removing unused types
  api/clue/common/regex.py
  api/clue/constants/supported_types.py
Due: none

fix: add case insensitivity to custom types
  api/clue/constants/supported_types.py
  api/clue/extensions/config.py
Due: none

add logging to track types
  api/clue/app.py
Due: none

style: add annotation
  api/clue/constants/supported_types.py
Due: none

Yet more fixes
  api/clue/constants/supported_types.py
Due: none

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
  check-translation: any of: ^ui/.*
