Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: api/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: bad-ui-imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-translation
        name: check-translation
        entry: ui/build_scripts/check_translation.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*

Potential fix for pull request finding
  api/clue/services/fetcher_service.py
Due: none

fix tests
  api/clue/services/fetcher_service.py
  api/test/integration/api/test_fetchers.py
Due: none

fix tests
  api/test/integration/api/test_fetchers.py
Due: none

feat(api): properly validate fetcher classification (#85)
  .vscode/settings.json
  api/clue/services/fetcher_service.py
  api/poetry.lock
  api/test/integration/api/test_fetchers.py
  api/test/unit/services/test_fetcher_service.py
Due: poetry-check-api

fix logging statements to only show include_default sources when query_sources is empty
  api/clue/services/lookup_service.py
Due: none

combine source lists if indicators duplicated in bulk req
  api/clue/services/lookup_service.py
  api/test/integration/api/test_lookups.py
Due: none

feat(api): support excluding sources in enrich (#81)
  api/clue/api/v1/lookup.py
  api/clue/services/lookup_service.py
  api/test/integration/api/test_lookups.py
Due: none

fix(api): allow setting of auth source in mongodb connection
  api/clue/models/config.py
Due: none

fix(ui): getToken in clue standalone UI
  ui/src/components/app/App.tsx
  ui/src/lib/hooks/ClueUIPluginContext.tsx
  ui/src/lib/plugins/ClueUIPlugin.ts
  ui/src/lib/plugins/file/index.tsx
  ui/src/lib/plugins/graph/index.tsx
  ui/src/lib/plugins/json/index.tsx
  ui/src/lib/plugins/markdown/index.tsx
  ui/src/lib/plugins/test/index.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): small layout fix
  ui/src/lib/plugins/file/index.tsx
Due: lint-staged, bad-ui-imports, check-translation

chore(ui): fix test
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/enrich.test.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(api, ui): ensure models are synchronized between ui and api
  api/clue/models/network.py
  api/test/unit/validation/test_sync_models.py
  ui/src/index.tsx
  ui/src/lib/database/selector.schema.json
Due: lint-staged, bad-ui-imports, check-translation

fix: formatting
  ui/src/lib/database/selector.schema.json
Due: lint-staged, bad-ui-imports, check-translation

Use `config.logging.log_to_file` to control if handler should be added to write to disk
  api/clue/common/logging/audit.py
Due: none

Setup launch targets to hook test plugins with API for testing + add ingress that routes through Docker's loopback so it works for containers and processes on the dev host
  .vscode/launch.json
  api/dev/docker-compose.yml
  api/dev/nginx.conf
Due: none

Refactor AL plugin to support proper OBO authentication using token from Clue API
  plugins/assemblyline/.dockerignore
  plugins/assemblyline/__init__.py
  plugins/assemblyline/actions.py
  plugins/assemblyline/app.py
  plugins/assemblyline/auth.py
  plugins/assemblyline/consts.py
  plugins/assemblyline/enrichments.py
  plugins/assemblyline/manifest.yml
  plugins/assemblyline/test_app.py
  plugins/assemblyline/tests/test_assemblyline.py
Due: none

Add temporary support for older version of client for testing purposes
  plugins/assemblyline/auth.py
  plugins/assemblyline/consts.py
Due: none

Fix formatting
  plugins/assemblyline/app.py
  plugins/assemblyline/auth.py
  plugins/assemblyline/consts.py
Due: none

Use internal hostname for routing instead of literal gateway IP for Docker bridge
  api/dev/docker-compose.yml
  api/dev/nginx.conf
Due: none

Assorted fixes
  plugins/assemblyline/auth.py
  plugins/assemblyline/enrichments.py
Due: none

More fixes
  plugins/assemblyline/actions.py
  plugins/assemblyline/app.py
  plugins/assemblyline/auth.py
  plugins/assemblyline/enrichments.py
  plugins/assemblyline/test_app.py
Due: none

rename file to not be confused with test files
  .vscode/launch.json
  plugins/assemblyline/local_app.py
Due: none

fixes
  plugins/assemblyline/actions.py
Due: none

Patch in for testing
  plugins/assemblyline/tests/test_assemblyline.py
Due: none

working on fixing replication
  api/clue/services/lookup_service.py
  api/clue/services/mongo_service.py
  ui/src/lib/hooks/ClueEnrichContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

adding debug step
  .github/workflows/api-workflow.yml
Due: none

working on tests
  .github/workflows/api-workflow.yml
  api/dev/docker-compose.yml
Due: none

working on tests
  .github/workflows/api-workflow.yml
Due: none

what
  .github/workflows/api-workflow.yml
Due: none

remove prefix
  .github/workflows/api-workflow.yml
Due: none

refactor: Update the AL plugin to properly support OBO (#87)
  .github/workflows/api-workflow.yml
  .vscode/launch.json
  api/clue/common/logging/audit.py
  api/dev/docker-compose.yml
  api/dev/nginx.conf
  plugins/assemblyline/.dockerignore
  plugins/assemblyline/__init__.py
  plugins/assemblyline/actions.py
  plugins/assemblyline/app.py
  plugins/assemblyline/auth.py
  plugins/assemblyline/consts.py
  plugins/assemblyline/enrichments.py
  plugins/assemblyline/local_app.py
  plugins/assemblyline/manifest.yml
  plugins/assemblyline/tests/test_assemblyline.py
Due: none

Remove relative imports
  plugins/assemblyline/actions.py
  plugins/assemblyline/app.py
  plugins/assemblyline/auth.py
  plugins/assemblyline/enrichments.py
Due: none

Remove relative imports (#88)
  plugins/assemblyline/actions.py
  plugins/assemblyline/app.py
  plugins/assemblyline/auth.py
  plugins/assemblyline/enrichments.py
Due: none

Add unit tests
  api/test/integration/services/test_mongo_service.py
  api/test/unit/services/test_lookup_service.py
Due: none

pr feedback
  api/clue/services/lookup_service.py
  api/clue/services/mongo_service.py
  api/test/integration/services/test_mongo_service.py
  api/test/unit/services/test_lookup_service.py
Due: none

pr feedback
  ui/src/lib/hooks/ClueEnrichContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

Fix action to use pre-determined submission profiles
  plugins/assemblyline/README.md
  plugins/assemblyline/actions.py
  plugins/assemblyline/consts.py
Due: none

unit test fix
  ui/src/lib/hooks/ClueEnrichContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

lookup service fix
  api/clue/services/lookup_service.py
Due: none
