Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: api/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: bad-ui-imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-translation
        name: check-translation
        entry: ui/build_scripts/check_translation.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*

Update api/clue/models/config.py
  api/clue/models/config.py
Due: none

fix(ui): roll back eslint version update
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports, check-translation

Improvements to Execute action popover menu (#40)
  ui/src/lib/components/actions/ActionForm.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/useActionResult.tsx
  ui/src/lib/types/RunningActionData.d.ts
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

release notes
  mkdocs/docs/releases/api.md
  mkdocs/docs/releases/ui.md
Due: none

fix(ui): fixed bug where tied opinion counts led to nondeterministic behaviour
  mkdocs/docs/releases/ui.md
  ui/package.json
  ui/src/lib/icons/Opinion.tsx
Due: lint-staged, bad-ui-imports, check-translation

chore: unit tests
  ui/src/lib/icons/Action.test.tsx
  ui/src/lib/icons/Assessment.test.tsx
  ui/src/lib/icons/Context.test.tsx
  ui/src/lib/icons/Opinion.test.tsx
  ui/src/lib/icons/Opinion.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): fixed bug where tied opinion counts led to nondeterministic behaviour (#52)
  mkdocs/docs/releases/ui.md
  ui/package.json
  ui/src/lib/icons/Action.test.tsx
  ui/src/lib/icons/Assessment.test.tsx
  ui/src/lib/icons/Context.test.tsx
  ui/src/lib/icons/Opinion.test.tsx
  ui/src/lib/icons/Opinion.tsx
Due: lint-staged, bad-ui-imports, check-translation

chore: bump versions
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

update base plugin image
  plugins/assemblyline/manifest.yml
  plugins/crtsh/manifest.yml
  plugins/example/manifest.yml
  plugins/howler/manifest.yml
  plugins/malware_bazaar/manifest.yml
  plugins/port_lookup/manifest.yml
  plugins/virustotal/manifest.yml
Due: none

version update
  plugins/base/VERSION
Due: none

Update query links to point to specific documents tied to the verdict
  plugins/assemblyline/app.py
Due: none

Preserve the original logic of annotation links per verdict category
  plugins/assemblyline/app.py
Due: none

bugfixes
  plugins/assemblyline/app.py
Due: none

fix(ui): fixed loading bug in fetcher presentation
  ui/package.json
  ui/src/lib/components/fetchers/Fetcher.tsx
Due: lint-staged, bad-ui-imports, check-translation

release notes
  mkdocs/docs/releases/ui.md
Due: none

fix(ui): fixed fetcher rendering uncaught error
  mkdocs/docs/releases/ui.md
  ui/package.json
  ui/src/lib/components/fetchers/Fetcher.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): duplicate key in executeAction
  ui/src/lib/hooks/ClueActionContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): properly handle onComplete function
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/actions.test.tsx
  ui/src/lib/hooks/useActionResult.test.tsx
  ui/src/lib/hooks/useActionResult.tsx
  ui/src/lib/types/WithActionData.d.ts
Due: lint-staged, bad-ui-imports, check-translation

pr feedback
  api/clue/common/forge.py
  api/clue/common/logging/__init__.py
  api/clue/extensions/config.py
  api/clue/models/config.py
  mkdocs/docs/developer/design/replication.fr.md
Due: none

chore: version bump, release notes, pr feedback
  mkdocs/docs/releases/ui.md
  ui/package.json
  ui/src/lib/components/fetchers/Fetcher.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/useActionResult.test.tsx
  ui/src/lib/hooks/useActionResult.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

fix static
  api/clue/api/v1/static.py
Due: none

database fix
  ui/src/lib/hooks/ClueDatabaseContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

add the onUpdate callback function to the executeAction hook
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/actions.test.tsx
  ui/src/lib/types/RunningActionData.d.ts
Due: lint-staged, bad-ui-imports, check-translation

call onUpdate First
  ui/src/lib/hooks/ClueActionContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

move onUpdate into own tests
  ui/src/lib/hooks/actions.test.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix issue and add tests
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/actions.test.tsx
  ui/src/lib/hooks/useActionResult.tsx
  ui/src/lib/types/WithActionData.d.ts
Due: lint-staged, bad-ui-imports, check-translation

version patch
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

add release notes
  mkdocs/docs/releases/ui.md
Due: none

add release documentation
  mkdocs/docs/developer/releases.md
Due: none

feat(ui): add onUpdate callback function to the executeAction hook (#58)
  mkdocs/docs/developer/releases.md
  mkdocs/docs/releases/ui.md
  ui/package.json
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/actions.test.tsx
  ui/src/lib/hooks/useActionResult.tsx
  ui/src/lib/types/RunningActionData.d.ts
  ui/src/lib/types/WithActionData.d.ts
Due: lint-staged, bad-ui-imports, check-translation

update nav
  mkdocs/docs/developer/.nav.yml
Due: none

update release docs
  mkdocs/docs/developer/releases.md
Due: none

update mkdocs triggers
  .github/workflows/mkdocs.yml
Due: none
