Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

poetry-check-api:
  name: poetry-check-api
  entry: api/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: bad-ui-imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

check-translation:
  name: check-translation
  entry: ui/build_scripts/check_translation.py
  language: python
  stages:
  - pre-commit

fix: unit tests
  api/test/unit/common/test_regex.py
Due: none

fix: unit tests
  api/clue/constants/supported_types.py
Due: none

Lots of docs work
  .github/workflows/mkdocs.yml
  docs/api/CONTRIBUTING.en.md
  docs/api/CONTRIBUTING.fr.md
  docs/api/schemas/config.schema.json
  mkdocs/docs/.nav.yml
  mkdocs/docs/developer/.nav.yml
  mkdocs/docs/developer/CONTRIBUTING.md
  mkdocs/docs/developer/backend/extensions.en.md
  mkdocs/docs/developer/backend/extensions.fr.md
  mkdocs/docs/developer/backend/index.fr.md
  mkdocs/docs/developer/backend/index.md
  mkdocs/docs/developer/design/caching.en.md
  mkdocs/docs/developer/design/caching.fr.md
  mkdocs/docs/developer/frontend/index.fr.md
  mkdocs/docs/developer/frontend/index.md
  mkdocs/docs/developer/frontend/testing.fr.md
  mkdocs/docs/developer/frontend/testing.md
  mkdocs/docs/developer/getting_started.md
  mkdocs/docs/developer/index.md
  mkdocs/docs/developer/plugin.fr.md
  mkdocs/docs/installation/helm.fr.md
  mkdocs/docs/installation/plugin.md
  mkdocs/docs/overview/.nav.yml
  mkdocs/docs/overview/integration.fr.md
  mkdocs/docs/overview/integration.md
  mkdocs/docs/overview/plugin_developers.fr.md
  mkdocs/docs/overview/plugin_developers.md
  mkdocs/docs/overview/users.fr.md
  mkdocs/docs/overview/users.md
  mkdocs/docs/proposals/deployment-ui.md
  mkdocs/docs/releases/api.md
  mkdocs/docs/releases/ui.md
  mkdocs/mkdocs.yml
  mkdocs/poetry.lock
  mkdocs/pyproject.toml
  mkdocs/requirements.txt
Due: none

chore: localization
  mkdocs/docs/developer/index.fr.md
Due: none

chore: localization
  .github/workflows/mkdocs.yml
Due: none

Fix links
  mkdocs/mkdocs.yml
Due: none

New home page
  mkdocs/override/home.html
Due: none

expanded plugin descriptions
  mkdocs/override/home.html
Due: none

Various view tweaks
  ui/build_scripts/find_bad_imports.py
  ui/src/components/routes/home/index.tsx
  ui/src/lib/components/AnnotationBody.tsx
  ui/src/lib/icons/Context.tsx
Due: lint-staged, bad-ui-imports, check-translation

Added a missing warning function
  api/clue/plugin/__init__.py
Due: none

Fix plugin custom type handling
  api/clue/plugin/__init__.py
  api/test/unit/plugin/test_response_serialization.py
Due: none

task(types): change namespace separator from slash to underscore
  api/clue/constants/supported_types.py
  api/test/integration/extensions/test_extension_init.py
Due: none

fix functionality
  plugins/base/base.Dockerfile
Due: none

Fix plugin custom type handling (#25)
  api/clue/plugin/__init__.py
  api/test/unit/plugin/test_response_serialization.py
Due: none

task(types): change namespace separator from slash to underscore (#26)
  api/clue/constants/supported_types.py
  api/test/integration/extensions/test_extension_init.py
  plugins/base/base.Dockerfile
Due: none

fix(ui): resolved issue with action forms and context type
  ui/src/components/app/App.tsx
  ui/src/lib/components/actions/form/schemaAdapter.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): resolved type error on compile
  ui/src/lib/components/ClassificationChip.tsx
Due: lint-staged, bad-ui-imports, check-translation

rename eslintrc
  ui/.eslintrc.json
Due: lint-staged, bad-ui-imports, check-translation

chore: revert eslint to v8.x
  ui/.eslintrc
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports, check-translation

bump versions on develop
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

convert from moment to dayjs (#3)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/commons/components/notification/elements/item/NotificationItemDate.tsx
  ui/src/components/routes/examples/index.tsx
  ui/src/components/routes/settings/SecuritySection.tsx
  ui/src/lib/utils/time.ts
  ui/src/lib/utils/utils.ts
Due: lint-staged, bad-ui-imports, check-translation

Added french README
  README.fr.md
Due: none

doc fixes
  README.fr.md
Due: none

sort supported types
  ui/src/components/routes/home/index.tsx
Due: lint-staged, bad-ui-imports, check-translation

Fix a bunch of ui linting errors
  ui/src/api/auth/index.ts
  ui/src/api/configs/index.ts
  ui/src/api/fetchers/index.ts
  ui/src/api/lookup/index.ts
  ui/src/api/lookup/types.ts
  ui/src/api/lookup/types_detection.ts
  ui/src/api/static/all_documentation.ts
  ui/src/api/static/documentation.ts
  ui/src/api/static/index.ts
  ui/src/components/hooks/useMyApi.tsx
  ui/src/components/hooks/useMyModal.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/hooks/useMySnackbar.tsx
  ui/src/components/hooks/useMyTheme.tsx
  ui/src/i18n.ts
  ui/src/lib/components/EnrichedChip.tsx
  ui/src/lib/components/RetryFailedEnrichments.tsx
  ui/src/lib/components/SourcePicker.tsx
  ui/src/lib/components/actions/ResultModal.tsx
  ui/src/lib/components/display/graph/index.tsx
  ui/src/lib/components/display/markdown/DynamicTabs.tsx
  ui/src/lib/components/display/markdown/index.tsx
  ui/src/lib/components/display/markdown/markdownPlugins/tabs.ts
  ui/src/lib/components/fetchers/StatusChip.tsx
  ui/src/lib/components/group/GroupControl.tsx
  ui/src/lib/components/stats/QueryStatus.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/ClueGroupContext.tsx
  ui/src/lib/hooks/enrich.test.tsx
  ui/src/lib/hooks/selectors.tsx
  ui/src/lib/hooks/useClueConfig.tsx
  ui/src/lib/hooks/useErrors.tsx
  ui/src/lib/hooks/useMyLocalStorage.tsx
  ui/src/lib/utils/graph.ts
  ui/src/lib/utils/loggerUtil.ts
  ui/src/lib/utils/sessionStorage.ts
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/vite.config.ts
Due: lint-staged, bad-ui-imports, check-translation

Additional error logging in jwt validation
  api/clue/models/config.py
  api/clue/services/auth_service.py
  api/clue/services/jwt_service.py
  api/test/unit/services/test_jwt_service.py
Due: none

Case insensitive type support (#7)
  api/clue/api/v1/lookup.py
  api/clue/constants/supported_types.py
  api/clue/models/selector.py
  api/test/integration/api/test_lookups.py
Due: none

Improved error handling in OBO functionality and type service (#8)
  api/clue/security/obo.py
  api/clue/services/type_service.py
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/ClueEnrichProps.d.ts
Due: lint-staged, bad-ui-imports, check-translation

Added cache documentation (#9)
  docs/api/design/caching.en.md
  docs/api/design/caching.fr.md
Due: none

Action testing (#5)
  ui/src/components/app/App.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/logins/auth/OAuthLogin.tsx
  ui/src/components/routes/Actions.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

Removing geventhttpclient, reworking monkey-patching (#6)
  api/.coveragerc.pytest
  api/Dockerfile
  api/build_scripts/run_tests.py
  api/clue/app.py
  api/clue/constants/env.py
  api/clue/helper/discover.py
  api/clue/remote/datatypes/__init__.py
  api/clue/services/lookup_service.py
  api/clue/services/type_service.py
  api/poetry.lock
  api/pyproject.toml
  api/test/integration/api/test_cronjobs.py
  plugins/base/base.Dockerfile
Due: poetry-check-api

enable autocomplete if the flag is enabled (#12)
  ui/src/lib/components/actions/ActionForm.tsx
Due: lint-staged, bad-ui-imports, check-translation

Allow opening annotation popover when enrichment is loading (#13)
  ui/src/lib/components/EnrichedCard.tsx
  ui/src/lib/components/EnrichedChip.tsx
  ui/src/lib/components/EnrichedTypography.test.tsx
  ui/src/lib/components/EnrichedTypography.tsx
  ui/src/lib/hooks/selectors.tsx
  ui/src/lib/hooks/useClueActions.tsx
Due: lint-staged, bad-ui-imports, check-translation

Added Context Functionality to Clue (#16)
  api/clue/models/actions.py
  api/clue/plugin/__init__.py
  api/test/integration/api/test_actions.py
  api/test/unit/validation/test_action_validation.py
  api/test/utils/test_server.py
  ui/src/api/actions/index.test.ts
  ui/src/api/actions/index.ts
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/actions.test.tsx
  ui/src/lib/types/RunningActionData.d.ts
  ui/src/lib/types/action.d.ts
Due: lint-staged, bad-ui-imports, check-translation

fix(plugin): added testing for serialization error handling
  api/clue/cache/__init__.py
  api/clue/plugin/__init__.py
  api/test/unit/plugin/test_response_serialization.py
Due: none

feat(api): Add helper function to add additional types to the support… (#21)
  api/clue/app.py
  api/clue/constants/supported_types.py
  api/clue/extensions/config.py
  api/test/integration/extensions/test_extension_init.py
  docs/api/extensions.en.md
  docs/api/extensions.fr.md
Due: none

remove keycloak cache and change bool val (#22)
  api/dev/docker-compose.yml
Due: none

Async actions with Celery (#18)
  api/clue/api/v1/actions.py
  api/clue/models/actions.py
  api/clue/plugin/__init__.py
  api/clue/plugin/celery_app.py
  api/clue/services/action_service.py
  api/poetry.lock
  api/pyproject.toml
  api/test/integration/api/test_actions.py
  api/test/integration/api/test_static.py
  api/test/utils/test_server.py
  ui/src/api/actions/index.ts
  ui/src/api/actions/status.ts
  ui/src/lib/components/actions/ResultModal.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/useActionResult.tsx
  ui/src/lib/types/action.d.ts
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

add logging to track types
  api/clue/app.py
Due: none

fix: add case insensitivity to custom types
  api/clue/constants/supported_types.py
  api/clue/extensions/config.py
Due: none

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
  check-translation: any of: ^ui/.*
