Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

poetry-check-api:
  name: poetry-check-api
  entry: api/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: bad-ui-imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

check-translation:
  name: check-translation
  entry: ui/build_scripts/check_translation.py
  language: python
  stages:
  - pre-commit

fix publishing
  .github/workflows/ui-workflow.yml
Due: none

feat(ui,api): added file result to actions and fetchers (#38)
  api/build_scripts/coverage_reports.py
  api/build_scripts/run_tests.py
  api/build_scripts/set_version.py
  api/clue/api/v1/static.py
  api/clue/common/bytes_utils.py
  api/clue/models/actions.py
  api/clue/models/fetchers.py
  api/clue/models/results/__init__.py
  api/clue/models/results/file.py
  api/clue/models/results/validation.py
  api/clue/services/action_service.py
  api/test/integration/api/test_actions.py
  api/test/integration/api/test_cronjobs.py
  api/test/integration/api/test_fetchers.py
  api/test/unit/common/test_common.py
  api/test/unit/test_bytes_utils.py
  api/test/unit/validation/test_fetcher_validation.py
  api/test/unit/validation/test_graph_validation.py
  api/test/utils/example.txt
  api/test/utils/test_server.py
  plugins/setup/create.py
  plugins/setup/interactive.py
  ui/build_scripts/check_translation.py
  ui/build_scripts/find_bad_imports.py
  ui/build_scripts/prep_for_publish.py
  ui/build_scripts/set_version.py
  ui/src/components/routes/examples/file_result.json
  ui/src/components/routes/examples/index.tsx
  ui/src/lib/components/actions/ResultModal.tsx
  ui/src/lib/components/actions/formats/FileResult.test.tsx
  ui/src/lib/components/actions/formats/FileResult.tsx
  ui/src/lib/components/actions/formats/index.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

chore(api): pr feedback
  api/clue/models/results/file.py
  api/clue/services/action_service.py
Due: none

Fix raw data & add timestamps (#41)
  plugins/assemblyline/app.py
Due: none

bump plugin version develop
  plugins/base/VERSION
Due: none

fix(plugin): ensure that alternate_bulk_lookup passes along the token
  api/clue/plugin/__init__.py
Due: none

pass params to return and add onCancel
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/useActionResult.tsx
  ui/src/lib/types/RunningActionData.d.ts
Due: lint-staged, bad-ui-imports, check-translation

Adding fix
  api/clue/api/v1/static.py
Due: none

Checking fix
  api/clue/api/v1/static.py
Due: none

Fixing message output
  api/clue/api/v1/static.py
Due: none

Changing the static api to find the path a different way
  api/clue/api/v1/static.py
Due: none

Fixing build
  api/clue/api/v1/static.py
Due: none

update dependency
  ui/src/lib/hooks/ClueActionContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

null
  ui/src/lib/hooks/ClueActionContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): add additional status collection checks
  ui/src/lib/components/stats/QueryStatus.tsx
  ui/src/lib/hooks/useAnnotations.tsx
Due: lint-staged, bad-ui-imports, check-translation

chore: bump version
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

fix: added closed check to selector collection queries
  ui/package.json
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/useAnnotations.tsx
  ui/src/lib/hooks/useErrors.tsx
Due: lint-staged, bad-ui-imports, check-translation

chore: bump version
  api/pyproject.toml
Due: poetry-check-api

remove hbs from types
  api/clue/constants/supported_types.py
Due: none

release(ui,api): patch ui@1.1.5, api@1.3.2 (#33)
  api/clue/common/regex.py
  api/clue/constants/supported_types.py
  api/pyproject.toml
  ui/package.json
  ui/src/components/routes/home/QueryInput.tsx
  ui/src/components/routes/home/index.tsx
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/ClueEnrichContextType.d.ts
  ui/src/lib/hooks/useClueTypeConfig.ts
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

feat(api): more default supported types
  api/clue/common/regex.py
  api/clue/constants/supported_types.py
  api/pyproject.toml
Due: poetry-check-api

fix(ui): added case sensitive subquery to useAnnotations
  ui/package.json
  ui/src/components/routes/home/index.tsx
  ui/src/lib/hooks/useAnnotations.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): fixed disallowing spaces in selector value in input box
  ui/package.json
  ui/src/components/routes/home/index.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): action result modal not longer loads forever (#37)
  ui/package.json
  ui/src/lib/components/actions/ResultModal.tsx
Due: lint-staged, bad-ui-imports, check-translation

chore: bump versions post release
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

bump plugin version
  plugins/base/VERSION
Due: none

pin react-router versions
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

Update README.md
  README.md
Due: none

SPBK-3887: Added ability to force menu and add context to action execution
  ui/src/components/routes/Actions.tsx
  ui/src/lib/components/display/json/index.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

Add assemblyline & howler icons (#32)
  plugins/assemblyline/app.py
  plugins/assemblyline/tests/test_assemblyline.py
  plugins/howler/app.py
Due: none

feat(ui): Added action configuration button
  ui/src/lib/components/actions/ExecutePopover.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

Fix react-router versions
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports, check-translation

add url repository
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
  check-translation: any of: ^ui/.*
