Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: api/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: bad-ui-imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-translation
        name: check-translation
        entry: ui/build_scripts/check_translation.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*

Added setDefaultClassification Hook to ClueEnrichContext (#14)
  api/clue/config.py
  plugins/base/base.Dockerfile
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/ClueEnrichContextType.d.ts
  ui/src/lib/hooks/enrich.test.tsx
  ui/src/lib/main.ts
  ui/src/lib/types/config.d.ts
  ui/src/tests/models/classification.example.json
Due: lint-staged, bad-ui-imports, check-translation

Update clue-ui to 1.0.3
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

bump versions on develop
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

convert from moment to dayjs (#3)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/commons/components/notification/elements/item/NotificationItemDate.tsx
  ui/src/components/routes/examples/index.tsx
  ui/src/components/routes/settings/SecuritySection.tsx
  ui/src/lib/utils/time.ts
  ui/src/lib/utils/utils.ts
Due: lint-staged, bad-ui-imports, check-translation

Added french README
  README.fr.md
Due: none

doc fixes
  README.fr.md
Due: none

sort supported types
  ui/src/components/routes/home/index.tsx
Due: lint-staged, bad-ui-imports, check-translation

Fix a bunch of ui linting errors
  ui/src/api/auth/index.ts
  ui/src/api/configs/index.ts
  ui/src/api/fetchers/index.ts
  ui/src/api/lookup/index.ts
  ui/src/api/lookup/types.ts
  ui/src/api/lookup/types_detection.ts
  ui/src/api/static/all_documentation.ts
  ui/src/api/static/documentation.ts
  ui/src/api/static/index.ts
  ui/src/components/hooks/useMyApi.tsx
  ui/src/components/hooks/useMyModal.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/hooks/useMySnackbar.tsx
  ui/src/components/hooks/useMyTheme.tsx
  ui/src/i18n.ts
  ui/src/lib/components/EnrichedChip.tsx
  ui/src/lib/components/RetryFailedEnrichments.tsx
  ui/src/lib/components/SourcePicker.tsx
  ui/src/lib/components/actions/ResultModal.tsx
  ui/src/lib/components/display/graph/index.tsx
  ui/src/lib/components/display/markdown/DynamicTabs.tsx
  ui/src/lib/components/display/markdown/index.tsx
  ui/src/lib/components/display/markdown/markdownPlugins/tabs.ts
  ui/src/lib/components/fetchers/StatusChip.tsx
  ui/src/lib/components/group/GroupControl.tsx
  ui/src/lib/components/stats/QueryStatus.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/ClueGroupContext.tsx
  ui/src/lib/hooks/enrich.test.tsx
  ui/src/lib/hooks/selectors.tsx
  ui/src/lib/hooks/useClueConfig.tsx
  ui/src/lib/hooks/useErrors.tsx
  ui/src/lib/hooks/useMyLocalStorage.tsx
  ui/src/lib/utils/graph.ts
  ui/src/lib/utils/loggerUtil.ts
  ui/src/lib/utils/sessionStorage.ts
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/vite.config.ts
Due: lint-staged, bad-ui-imports, check-translation

Case insensitive type support (#7)
  api/clue/api/v1/lookup.py
  api/clue/constants/supported_types.py
  api/clue/models/selector.py
  api/test/integration/api/test_lookups.py
Due: none

Additional error logging in jwt validation
  api/clue/models/config.py
  api/clue/services/auth_service.py
  api/clue/services/jwt_service.py
  api/test/unit/services/test_jwt_service.py
Due: none

Improved error handling in OBO functionality and type service (#8)
  api/clue/security/obo.py
  api/clue/services/type_service.py
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/ClueEnrichProps.d.ts
Due: lint-staged, bad-ui-imports, check-translation

Removing geventhttpclient, reworking monkey-patching (#6)
  api/.coveragerc.pytest
  api/Dockerfile
  api/build_scripts/run_tests.py
  api/clue/app.py
  api/clue/constants/env.py
  api/clue/helper/discover.py
  api/clue/remote/datatypes/__init__.py
  api/clue/services/lookup_service.py
  api/clue/services/type_service.py
  api/poetry.lock
  api/pyproject.toml
  api/test/integration/api/test_cronjobs.py
  plugins/base/base.Dockerfile
Due: poetry-check-api

Action testing (#5)
  ui/src/components/app/App.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/logins/auth/OAuthLogin.tsx
  ui/src/components/routes/Actions.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

enable autocomplete if the flag is enabled (#12)
  ui/src/lib/components/actions/ActionForm.tsx
Due: lint-staged, bad-ui-imports, check-translation

Added cache documentation (#9)
  docs/api/design/caching.en.md
  docs/api/design/caching.fr.md
Due: none

Allow opening annotation popover when enrichment is loading
  ui/src/lib/components/EnrichedCard.tsx
  ui/src/lib/components/EnrichedChip.tsx
  ui/src/lib/components/EnrichedTypography.tsx
Due: lint-staged, bad-ui-imports, check-translation

More loading changes, unit tests
  ui/src/lib/components/EnrichedTypography.test.tsx
  ui/src/lib/components/EnrichedTypography.tsx
  ui/src/lib/hooks/selectors.tsx
  ui/src/lib/hooks/useClueActions.tsx
Due: lint-staged, bad-ui-imports, check-translation

Update ui/src/lib/components/EnrichedTypography.test.tsx
  ui/src/lib/components/EnrichedTypography.test.tsx
Due: lint-staged, bad-ui-imports, check-translation

Update ui/src/lib/components/EnrichedChip.tsx
  ui/src/lib/components/EnrichedChip.tsx
Due: lint-staged, bad-ui-imports, check-translation

Fixed formatting
  ui/src/lib/components/EnrichedTypography.test.tsx
Due: lint-staged, bad-ui-imports, check-translation

Update ui/src/lib/components/EnrichedTypography.tsx
  ui/src/lib/components/EnrichedTypography.tsx
Due: lint-staged, bad-ui-imports, check-translation

Allow opening annotation popover when enrichment is loading (#13)
  ui/src/lib/components/EnrichedCard.tsx
  ui/src/lib/components/EnrichedChip.tsx
  ui/src/lib/components/EnrichedTypography.test.tsx
  ui/src/lib/components/EnrichedTypography.tsx
  ui/src/lib/hooks/selectors.tsx
  ui/src/lib/hooks/useClueActions.tsx
Due: lint-staged, bad-ui-imports, check-translation

UI Implementation of context data
  ui/src/api/actions/index.ts
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/actions.test.tsx
  ui/src/lib/types/RunningActionData.d.ts
  ui/src/lib/types/action.d.ts
Due: lint-staged, bad-ui-imports, check-translation

Context stuff
  api/clue/models/actions.py
Due: none

finished API-side work on context
  api/clue/plugin/__init__.py
  api/test/integration/api/test_actions.py
  api/test/unit/validation/test_action_validation.py
  api/test/utils/test_server.py
Due: none

More test fixes
  api/clue/plugin/__init__.py
  api/test/utils/test_server.py
Due: none

Fixed front unit tests, added tests for the context
  ui/src/api/actions/index.test.ts
Due: lint-staged, bad-ui-imports, check-translation

PR Feedback
  ui/src/lib/hooks/actions.test.tsx
Due: lint-staged, bad-ui-imports, check-translation

Small test fix
  api/test/utils/test_server.py
Due: none

Improved typing, added localization language
  api/clue/models/actions.py
  api/test/integration/api/test_actions.py
  api/test/utils/test_server.py
  ui/src/lib/hooks/ClueActionContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

Update ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

Update api/clue/plugin/__init__.py
  api/clue/plugin/__init__.py
Due: none

Fixing tests, improving validation
  api/clue/models/actions.py
  api/clue/plugin/__init__.py
  api/test/integration/api/test_actions.py
  api/test/utils/test_server.py
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/types/action.d.ts
Due: lint-staged, bad-ui-imports, check-translation

coerce tests, test fixes
  api/test/unit/validation/test_action_validation.py
Due: none

Added Context Functionality to Clue (#16)
  api/clue/models/actions.py
  api/clue/plugin/__init__.py
  api/test/integration/api/test_actions.py
  api/test/unit/validation/test_action_validation.py
  api/test/utils/test_server.py
  ui/src/api/actions/index.test.ts
  ui/src/api/actions/index.ts
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/actions.test.tsx
  ui/src/lib/types/RunningActionData.d.ts
  ui/src/lib/types/action.d.ts
Due: lint-staged, bad-ui-imports, check-translation

first attempt
  api/clue/models/actions.py
  ui/src/lib/components/actions/ResultModal.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/types/action.d.ts
Due: lint-staged, bad-ui-imports, check-translation

New Splash Image
  mkdocs/docs/images/splash.png
Due: none
