Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

poetry-check-api:
  name: poetry-check-api
  entry: api/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: bad-ui-imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

check-translation:
  name: check-translation
  entry: ui/build_scripts/check_translation.py
  language: python
  stages:
  - pre-commit

remove hbs from types
  api/clue/constants/supported_types.py
Due: none

chore: bump version
  api/pyproject.toml
Due: poetry-check-api

add al icon
  plugins/assemblyline/app.py
Due: none

add howler icon
  plugins/howler/app.py
Due: none

feat(api): added mac_address as a supported type
  api/clue/common/regex.py
  api/clue/constants/supported_types.py
Due: none

feat(ui): added direct property for supported types
  ui/src/components/routes/home/QueryInput.tsx
  ui/src/components/routes/home/index.tsx
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/ClueEnrichContextType.d.ts
  ui/src/lib/hooks/useClueTypeConfig.ts
Due: lint-staged, bad-ui-imports, check-translation

chore(ui): bump version
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

chore(api): bump version
  api/pyproject.toml
Due: poetry-check-api

fix: pr feedback
  api/clue/constants/supported_types.py
  ui/src/components/routes/home/index.tsx
Due: lint-staged, bad-ui-imports, check-translation

release(ui,api): patch ui@1.1.5, api@1.3.2 (#33)
  api/clue/common/regex.py
  api/clue/constants/supported_types.py
  api/pyproject.toml
  ui/package.json
  ui/src/components/routes/home/QueryInput.tsx
  ui/src/components/routes/home/index.tsx
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/ClueEnrichContextType.d.ts
  ui/src/lib/hooks/useClueTypeConfig.ts
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

chore: bump versions post release
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

pin react-router versions
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

Update README.md
  README.md
Due: none

use environ for howler icon
  plugins/howler/app.py
Due: none

Use environ for al icon
  plugins/assemblyline/app.py
Due: none

fix al plugin tests
  plugins/assemblyline/tests/test_assemblyline.py
Due: none

fix al tests again
  plugins/assemblyline/tests/test_assemblyline.py
Due: none

feat(api): more default supported types
  api/clue/common/regex.py
  api/clue/constants/supported_types.py
  api/pyproject.toml
Due: poetry-check-api

add tests
  api/clue/models/fetchers.py
  api/clue/plugin/__init__.py
  api/test/integration/api/test_fetchers.py
  api/test/utils/test_server.py
Due: none

formatting
  api/clue/models/fetchers.py
Due: none

fix(ui): fixed disallowing spaces in selector value in input box
  ui/package.json
  ui/src/components/routes/home/index.tsx
Due: lint-staged, bad-ui-imports, check-translation

chore: bump versions post release
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

feat(ui,api): replication and storage (#30)
  api/clue/api/__init__.py
  api/clue/api/v1/sync.py
  api/clue/app.py
  api/clue/config.py
  api/clue/models/config.py
  api/clue/models/network.py
  api/clue/models/schema.py
  api/clue/models/sync.py
  api/clue/services/lookup_service.py
  api/clue/services/mongo_service.py
  api/dev/docker-compose.yml
  api/poetry.lock
  api/pyproject.toml
  demo/README.md
  demo/docker-compose.yml
  demo/keycloak/Dockerfile
  demo/keycloak/keycloak-realm.json
  demo/nginx.conf
  mkdocs/docs/developer/design/replication.en.md
  ui/pnpm-workspace.yaml
  ui/src/api/index.ts
  ui/src/api/sync/index.ts
  ui/src/components/app/App.tsx
  ui/src/components/routes/examples/index.tsx
  ui/src/lib/database/index.ts
  ui/src/lib/database/replication.ts
  ui/src/lib/database/selector.schema.json
  ui/src/lib/database/sync.d.ts
  ui/src/lib/database/types.d.ts
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/useAnnotations.tsx
  ui/src/rest/AxiosClient.ts
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

Update api/clue/models/config.py
  api/clue/models/config.py
Due: none

Update ui/src/api/sync/index.ts
  ui/src/api/sync/index.ts
Due: lint-staged, bad-ui-imports, check-translation

Update api/clue/api/v1/sync.py
  api/clue/api/v1/sync.py
Due: none

some minor twaeks
  .github/workflows/pr-title-check.yml
  api/clue/services/user_service.py
Due: none

Work stuff
  .github/copilot-instructions.md
  api/dev/docker-compose.yml
Due: none

test fixes
  api/clue/api/v1/fetchers.py
Due: none

test fixes
  api/test/integration/api/test_fetchers.py
Due: none

test fixes
  api/test/integration/api/test_fetchers.py
  api/test/utils/test_server.py
Due: none

added example api/ui env files
  demo/api.env.example
  demo/ui.env.example
Due: none

fix(ui): added case sensitive subquery to useAnnotations
  ui/package.json
  ui/src/components/routes/home/index.tsx
  ui/src/lib/hooks/useAnnotations.tsx
Due: lint-staged, bad-ui-imports, check-translation

small fix for non async actions to be 'done'
  ui/src/lib/components/actions/ResultModal.tsx
Due: lint-staged, bad-ui-imports, check-translation

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
  check-translation: any of: ^ui/.*
