Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

poetry-check-api:
  name: poetry-check-api
  entry: api/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: bad-ui-imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

check-translation:
  name: check-translation
  entry: ui/build_scripts/check_translation.py
  language: python
  stages:
  - pre-commit

update base plugin image
  plugins/assemblyline/manifest.yml
  plugins/crtsh/manifest.yml
  plugins/example/manifest.yml
  plugins/howler/manifest.yml
  plugins/malware_bazaar/manifest.yml
  plugins/port_lookup/manifest.yml
  plugins/virustotal/manifest.yml
Due: none

version update
  plugins/base/VERSION
Due: none

database fix
  ui/src/lib/hooks/ClueDatabaseContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

include onUpdate as an option when executing the action from the form
  ui/src/lib/components/actions/ActionForm.tsx
Due: lint-staged, bad-ui-imports, check-translation

bump patch version and add release notes
  mkdocs/docs/releases/ui.md
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

reading comprehesion
  ui/src/lib/components/actions/ActionForm.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): include onUpdate as an option when executing the action from the form (#59)
  mkdocs/docs/releases/ui.md
  ui/package.json
  ui/src/lib/components/actions/ActionForm.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix QueryEntry model
  api/clue/models/network.py
Due: none

fix assemblyline tests
  plugins/assemblyline/tests/test_assemblyline.py
Due: none

add debian version of base plugin workflow
  .github/workflows/base-plugin-workflow.yml
  plugins/base/debian.Dockerfile
Due: none

build fixes
  .github/workflows/base-plugin-workflow.yml
  plugins/base/debian.Dockerfile
Due: none

more plugin fixes
  plugins/base/debian.Dockerfile
Due: none

Refactored email rendering
  api/clue/plugin/helpers/email_render.py
Due: none

linting fix
  api/clue/plugin/helpers/email_render.py
Due: none

tests and copilot feedback
  api/clue/plugin/helpers/email_render.py
  api/test/unit/helpers/test_email_render.py
Due: none

Update api/clue/plugin/helpers/email_render.py
  api/clue/plugin/helpers/email_render.py
Due: none

fix: Fix email rendering overflow and decompression bomb handling (#60)
  api/clue/plugin/helpers/email_render.py
  api/test/unit/helpers/test_email_render.py
Due: none

set running action data to null when a response is received
  ui/src/lib/hooks/ClueActionContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix some translation keys
  ui/src/lib/components/actions/ActionForm.tsx
  ui/src/lib/components/display/json/index.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

copilot suggestion
  ui/src/lib/components/actions/ActionForm.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): Stop running action on failure (#62)
  mkdocs/docs/releases/ui.md
  ui/src/lib/components/actions/ActionForm.tsx
  ui/src/lib/components/display/json/index.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): fix promise rejection errors during clue enrichment
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/useAnnotations.tsx
Due: lint-staged, bad-ui-imports, check-translation

release notes
  mkdocs/docs/releases/ui.md
Due: none

bump version again
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

pr feedback
  ui/src/lib/hooks/ClueEnrichContextType.d.ts
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): fix promise rejection errors during clue enrichment (#63)
  mkdocs/docs/releases/ui.md
  ui/package.json
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/ClueEnrichContextType.d.ts
  ui/src/lib/hooks/useAnnotations.tsx
Due: lint-staged, bad-ui-imports, check-translation

feat(ui): enable clue replication on UI
  api/clue/services/config_service.py
  ui/src/components/app/App.tsx
  ui/src/lib/types/config.d.ts
Due: lint-staged, bad-ui-imports, check-translation

Package updates
  .vscode/settings.json
  api/poetry.lock
  api/pyproject.toml
Due: poetry-check-api

Added split on _
  ui/src/components/routes/PluginDashboard.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): fix small bug with enriched chip height
  mkdocs/docs/releases/ui.md
  ui/package.json
  ui/src/lib/components/EnrichedChip.tsx
Due: lint-staged, bad-ui-imports, check-translation

chore: bump versions
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
  check-translation: any of: ^ui/.*
