Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

poetry-check-api:
  name: poetry-check-api
  entry: api/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: bad-ui-imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

check-translation:
  name: check-translation
  entry: ui/build_scripts/check_translation.py
  language: python
  stages:
  - pre-commit

Fixing message output
  api/clue/api/v1/static.py
Due: none

Changing the static api to find the path a different way
  api/clue/api/v1/static.py
Due: none

Fixing build
  api/clue/api/v1/static.py
Due: none

Fixed plugin dashboard
  api/clue/api/v1/static.py
  ui/src/components/routes/Documentation.tsx
Due: lint-staged, bad-ui-imports, check-translation

Fixing plugin dashboard
  api/clue/api/v1/static.py
  ui/src/components/routes/Documentation.tsx
Due: lint-staged, bad-ui-imports, check-translation

Fixing linter warnings
  api/clue/api/v1/static.py
Due: none

Removed unused vars
  api/clue/api/v1/static.py
Due: none

Adding path traversal for unsafe paths
  api/clue/api/v1/static.py
Due: none

Changing fall back message for clarifying
  api/clue/api/v1/static.py
Due: none

Fixing imports
  api/clue/api/v1/static.py
Due: none

feat(ui, api): Fixing plugin dashboard in clue (#43)
  api/clue/api/v1/static.py
  ui/src/components/routes/Documentation.tsx
Due: lint-staged, bad-ui-imports, check-translation

feat(ui, api): async fetcher results (#35)
  api/clue/api/v1/actions.py
  api/clue/api/v1/fetchers.py
  api/clue/models/fetchers.py
  api/clue/plugin/__init__.py
  api/clue/services/action_service.py
  api/clue/services/fetcher_service.py
  api/test/integration/api/test_fetchers.py
  api/test/utils/test_server.py
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/api/fetchers/index.ts
  ui/src/api/fetchers/status.ts
  ui/src/lib/components/fetchers/Fetcher.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/ClueFetcherContext.tsx
  ui/src/lib/hooks/useFetcherResult.tsx
  ui/src/lib/types/fetcher.d.ts
Due: lint-staged, bad-ui-imports, check-translation

Added new line check
  ui/src/lib/components/AnnotationEntry.tsx
Due: lint-staged, bad-ui-imports, check-translation

Fixed annotation summary
  ui/src/lib/components/AnnotationEntry.tsx
Due: lint-staged, bad-ui-imports, check-translation

Update api/clue/models/config.py
  api/clue/models/config.py
Due: none

feat(ui,api): replication and storage (#30)
  api/clue/api/__init__.py
  api/clue/api/v1/sync.py
  api/clue/app.py
  api/clue/config.py
  api/clue/models/config.py
  api/clue/models/network.py
  api/clue/models/schema.py
  api/clue/models/sync.py
  api/clue/services/lookup_service.py
  api/clue/services/mongo_service.py
  api/dev/docker-compose.yml
  api/poetry.lock
  api/pyproject.toml
  demo/README.md
  demo/docker-compose.yml
  demo/keycloak/Dockerfile
  demo/keycloak/keycloak-realm.json
  demo/nginx.conf
  mkdocs/docs/developer/design/replication.en.md
  ui/pnpm-workspace.yaml
  ui/src/api/index.ts
  ui/src/api/sync/index.ts
  ui/src/components/app/App.tsx
  ui/src/components/routes/examples/index.tsx
  ui/src/lib/database/index.ts
  ui/src/lib/database/replication.ts
  ui/src/lib/database/selector.schema.json
  ui/src/lib/database/sync.d.ts
  ui/src/lib/database/types.d.ts
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/useAnnotations.tsx
  ui/src/rest/AxiosClient.ts
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

Update ui/src/api/sync/index.ts
  ui/src/api/sync/index.ts
Due: lint-staged, bad-ui-imports, check-translation

Update api/clue/api/v1/sync.py
  api/clue/api/v1/sync.py
Due: none

added example api/ui env files (#36)
  demo/api.env.example
  demo/ui.env.example
Due: none

Work stuff
  .github/copilot-instructions.md
  api/dev/docker-compose.yml
Due: none

some minor twaeks
  .github/workflows/pr-title-check.yml
  api/clue/services/user_service.py
Due: none

more work on the synchronization
  .vscode/settings.json
  api/clue/api/v1/sync.py
  api/clue/models/config.py
  api/clue/models/network.py
  api/clue/models/schema.py
  api/clue/models/sync.py
  api/clue/remote/datatypes/__init__.py
  api/clue/services/lookup_service.py
  api/clue/services/mongo_service.py
  api/dev/docker-compose.yml
  demo/docker-compose.yml
  demo/nginx.conf
  ui/src/api/sync/index.ts
  ui/src/components/routes/examples/index.tsx
  ui/src/lib/components/AnnotationDetails.tsx
  ui/src/lib/database/globals.ts
  ui/src/lib/database/index.ts
  ui/src/lib/database/replication.test.ts
  ui/src/lib/database/replication.ts
  ui/src/lib/database/types.d.ts
  ui/src/lib/hooks/ClueDatabaseContext.tsx
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/useAnnotations.tsx
Due: lint-staged, bad-ui-imports, check-translation

selector schema changes
  ui/src/lib/database/selector.schema.json
Due: lint-staged, bad-ui-imports, check-translation

Update ui/src/lib/components/AnnotationEntry.tsx
  ui/src/lib/components/AnnotationEntry.tsx
Due: lint-staged, bad-ui-imports, check-translation

fixed tests
  api/clue/services/mongo_service.py
  ui/src/lib/database/index.ts
  ui/src/lib/database/replication.test.ts
  ui/src/lib/hooks/ClueDatabaseContext.tsx
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/utils/constants.ts
Due: lint-staged, bad-ui-imports, check-translation

more PR feedback
  api/clue/api/v1/sync.py
  api/clue/services/mongo_service.py
  demo/keycloak/Dockerfile
  ui/src/lib/database/replication.ts
  ui/src/lib/hooks/ClueDatabaseContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix build process
  .github/workflows/api-workflow.yml
Due: none

more feedback, fixes
  api/clue/api/v1/sync.py
  api/clue/services/mongo_service.py
  api/dev/docker-compose.yml
  ui/src/lib/database/replication.ts
  ui/src/lib/hooks/ClueDatabaseContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

test fixes
  ui/src/lib/database/replication.test.ts
  ui/src/tests/server-handlers.ts
Due: lint-staged, bad-ui-imports, check-translation

fix ui tests
  ui/src/lib/database/index.ts
  ui/src/lib/database/replication.test.ts
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/rest/AxiosClient.ts
  ui/src/tests/server-handlers.ts
Due: lint-staged, bad-ui-imports, check-translation

Working on API backend tests
  api/test/unit/config.yml
Due: none

More work on unit tests
  api/clue/services/lookup_service.py
  api/clue/services/mongo_service.py
Due: none

Fix documentation format
  api/clue/api/v1/sync.py
Due: none

More unit test changes
  api/clue/models/config.py
  api/clue/services/mongo_service.py
  api/test/unit/config.yml
Due: none

documentation fixes
  api/clue/api/v1/sync.py
Due: none

Working more on docker health checks
  .github/workflows/api-workflow.yml
  api/build_scripts/docker_health.py
  api/build_scripts/keycloak_health.py
  docs/api/development.en.md
  docs/api/development.fr.md
  mkdocs/docs/developer/backend/index.fr.md
  mkdocs/docs/developer/backend/index.md
Due: none

more workflow changes
  .github/workflows/api-workflow.yml
Due: none

more work on dev docker-compose
  api/dev/docker-compose.yml
Due: none

stabilizing api unit tests
  api/clue/api/v1/sync.py
  api/test/unit/test_cache.py
Due: none

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
  check-translation: any of: ^ui/.*
