Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

poetry-check-api:
  name: poetry-check-api
  entry: api/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: bad-ui-imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

check-translation:
  name: check-translation
  entry: ui/build_scripts/check_translation.py
  language: python
  stages:
  - pre-commit

bump version
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): action result modal not longer loads forever (#37)
  ui/package.json
  ui/src/lib/components/actions/ResultModal.tsx
Due: lint-staged, bad-ui-imports, check-translation

chore: bump versions post release
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

pin react-router versions
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

Add assemblyline & howler icons (#32)
  plugins/assemblyline/app.py
  plugins/assemblyline/tests/test_assemblyline.py
  plugins/howler/app.py
Due: none

Update README.md
  README.md
Due: none

feat(ui): Added action configuration button
  ui/src/lib/components/actions/ExecutePopover.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

SPBK-3887: Added ability to force menu and add context to action execution
  ui/src/components/routes/Actions.tsx
  ui/src/lib/components/display/json/index.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

Fix react-router versions
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports, check-translation

working on stuff
  api/clue/models/actions.py
  api/clue/models/results/__init__.py
  api/clue/models/results/file.py
  api/clue/models/results/validation.py
  api/test/utils/example.txt
  api/test/utils/test_server.py
Due: none

Added file result type and tests
  api/clue/common/bytes_utils.py
  api/clue/models/results/file.py
  api/test/integration/api/test_actions.py
  api/test/integration/api/test_fetchers.py
  api/test/utils/test_server.py
Due: none

add unit tests
  api/test/unit/test_bytes_utils.py
  api/test/unit/validation/test_fetcher_validation.py
Due: none

more unit tests
  api/test/unit/test_bytes_utils.py
  api/test/unit/validation/test_fetcher_validation.py
Due: none

PR Feedback
  api/clue/models/fetchers.py
Due: none

More test work
  api/clue/models/results/validation.py
  api/clue/services/action_service.py
  api/test/unit/test_bytes_utils.py
  api/test/utils/test_server.py
Due: none

expand unit test a bit
  api/test/integration/api/test_actions.py
Due: none

Fixed chain .parent usage
  api/build_scripts/coverage_reports.py
  api/build_scripts/run_tests.py
  api/build_scripts/set_version.py
  api/clue/api/v1/static.py
  api/test/integration/api/test_cronjobs.py
  api/test/unit/common/test_common.py
  api/test/unit/validation/test_graph_validation.py
  api/test/utils/test_server.py
  plugins/setup/create.py
  plugins/setup/interactive.py
  ui/build_scripts/check_translation.py
  ui/build_scripts/find_bad_imports.py
  ui/build_scripts/prep_for_publish.py
  ui/build_scripts/set_version.py
Due: lint-staged, bad-ui-imports, check-translation

Update api/clue/common/bytes_utils.py
  api/clue/common/bytes_utils.py
Due: none

More action service fixes
  api/clue/services/action_service.py
Due: none

More action service fixes
  api/clue/common/bytes_utils.py
Due: none

add unit tests
  ui/src/components/routes/examples/file_result.json
  ui/src/components/routes/examples/index.tsx
  ui/src/lib/components/actions/ResultModal.tsx
  ui/src/lib/components/actions/formats/FileResult.test.tsx
  ui/src/lib/components/actions/formats/FileResult.tsx
  ui/src/lib/components/actions/formats/index.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

small eslint fix
  ui/src/lib/components/actions/formats/FileResult.tsx
Due: lint-staged, bad-ui-imports, check-translation

pr feedback
  ui/src/lib/components/actions/formats/FileResult.tsx
Due: lint-staged, bad-ui-imports, check-translation

pr feedback
  ui/src/components/routes/examples/index.tsx
  ui/src/lib/components/actions/formats/FileResult.tsx
Due: lint-staged, bad-ui-imports, check-translation

actually skip the result modal after submitting the form if passed as an option
  ui/src/lib/components/actions/ActionForm.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/types/RunningActionData.d.ts
Due: lint-staged, bad-ui-imports, check-translation

fix publishing
  .github/workflows/ui-workflow.yml
Due: none

add url repository
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

exit menu after executing action
  ui/src/lib/hooks/ClueActionContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

dependency
  ui/src/lib/components/actions/ActionForm.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix raw data & add timestamps
  plugins/assemblyline/app.py
Due: none

minor change
  plugins/assemblyline/app.py
Due: none

bump plugin version
  plugins/base/VERSION
Due: none

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
  check-translation: any of: ^ui/.*
