Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: api/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: bad-ui-imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-translation
        name: check-translation
        entry: ui/build_scripts/check_translation.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*

change image names
  .github/workflows/api-workflow.yml
  .github/workflows/base-plugin-workflow.yml
  .github/workflows/build-plugin.yml
  .github/workflows/ui-workflow.yml
  helm/values/values.example.yaml
  helm/values/values.yaml
Due: none

Change image tags again
  .github/workflows/api-workflow.yml
  .github/workflows/base-plugin-workflow.yml
  .github/workflows/build-plugin.yml
  .github/workflows/ui-workflow.yml
  helm/values/values.example.yaml
  helm/values/values.yaml
  plugins/base/plugin.Dockerfile
Due: none

add base VERSION file
  plugins/base/VERSION
Due: none

fix howler test
  plugins/howler/test/test_howler.py
Due: none

Update plugin version
  plugins/assemblyline/manifest.yml
  plugins/crtsh/manifest.yml
  plugins/example/manifest.yml
  plugins/howler/manifest.yml
  plugins/malware_bazaar/manifest.yml
  plugins/port_lookup/manifest.yml
  plugins/virustotal/manifest.yml
Due: none

bump versions on develop
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

bump patch version
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

Fix lookup service error handling on quota
  api/clue/services/lookup_service.py
Due: none

Bump patch version
  api/pyproject.toml
Due: poetry-check-api

Disable non-functional tests
  api/clue/services/lookup_service.py
  api/test/integration/api/test_static.py
Due: none

fix more failing tests
  api/test/unit/test_cache.py
Due: none

fix build process
  .github/workflows/api-workflow.yml
Due: none

Update api/clue/services/lookup_service.py
  api/clue/services/lookup_service.py
Due: none

Fix lookup service error handling on quota (#2)
  .github/workflows/api-workflow.yml
  api/clue/services/lookup_service.py
  api/pyproject.toml
  api/test/integration/api/test_static.py
  api/test/unit/test_cache.py
Due: poetry-check-api

SPBK-3825: Render FetcherResult on error
  ui/src/lib/components/fetchers/Fetcher.tsx
Due: lint-staged, bad-ui-imports, check-translation

convert from moment to dayjs
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/commons/components/notification/elements/item/NotificationItemDate.tsx
  ui/src/components/routes/examples/index.tsx
  ui/src/index.tsx
  ui/src/lib/utils/utils.ts
Due: lint-staged, bad-ui-imports, check-translation

Action testing page
  ui/src/components/app/App.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/logins/auth/OAuthLogin.tsx
  ui/src/components/routes/Actions.tsx
  ui/src/components/routes/settings/SecuritySection.tsx
Due: lint-staged, bad-ui-imports, check-translation

Update ui/src/components/routes/Actions.tsx
  ui/src/components/routes/Actions.tsx
Due: lint-staged, bad-ui-imports, check-translation

Fix to moment
  ui/src/components/routes/settings/SecuritySection.tsx
Due: lint-staged, bad-ui-imports, check-translation

More fixes
  ui/src/commons/components/notification/elements/item/NotificationItemDate.tsx
  ui/src/components/routes/examples/index.tsx
  ui/src/components/routes/settings/SecuritySection.tsx
  ui/src/index.tsx
  ui/src/lib/utils/time.ts
  ui/src/lib/utils/utils.ts
Due: lint-staged, bad-ui-imports, check-translation

convert from moment to dayjs (#3)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/commons/components/notification/elements/item/NotificationItemDate.tsx
  ui/src/components/routes/examples/index.tsx
  ui/src/components/routes/settings/SecuritySection.tsx
  ui/src/lib/utils/time.ts
  ui/src/lib/utils/utils.ts
Due: lint-staged, bad-ui-imports, check-translation

Added french README
  README.fr.md
Due: none

sort supported types
  ui/src/components/routes/home/index.tsx
Due: lint-staged, bad-ui-imports, check-translation

doc fixes
  README.fr.md
  README.md
  mkdocs/docs/developer/backend.md
  mkdocs/mkdocs.yml
  mkdocs/override/home.html
Due: none

doc fixes
  README.md
  mkdocs/docs/developer/backend.md
  mkdocs/mkdocs.yml
  mkdocs/override/home.html
Due: none

moved branch from other repo
  helm/templates/_helpers.tpl
  helm/templates/plugin-config.yaml
  helm/values/values.example.yaml
  plugins/assemblyline/helm/Chart.yaml
  plugins/assemblyline/helm/values/values.assemblyline.yaml
  plugins/base/helm/Chart.yaml
  plugins/base/helm/templates/_helpers.tpl
  plugins/base/helm/templates/plugin-config.yaml
  plugins/base/helm/templates/plugins.tpl
  plugins/base/helm/values.yaml
  plugins/crtsh/helm/Chart.yaml
  plugins/crtsh/helm/values/values.crtsh.yaml
  plugins/example/helm/Chart.yaml
  plugins/example/helm/values/values.example.yaml
  plugins/helmfile.yaml
  plugins/howler/helm/Chart.yaml
  plugins/howler/helm/values/values.howler.yaml
  plugins/malware_bazaar/helm/Chart.yaml
  plugins/malware_bazaar/helm/values/values.malware_bazaar.yaml
  plugins/port_lookup/helm/Chart.yaml
  plugins/port_lookup/helm/values/values.port_lookup.yaml
  plugins/setup/create.py
  plugins/setup/templates/helm/Chart.yaml
  plugins/setup/templates/helm/values/values.PLUGIN_NAME.yaml
  plugins/virustotal/helm/Chart.yaml
  plugins/virustotal/helm/values/values.virustotal.yaml
Due: none

Fix a bunch of ui linting errors
  ui/src/api/auth/index.ts
  ui/src/api/configs/index.ts
  ui/src/api/fetchers/index.ts
  ui/src/api/lookup/index.ts
  ui/src/api/lookup/types.ts
  ui/src/api/lookup/types_detection.ts
  ui/src/api/static/all_documentation.ts
  ui/src/api/static/documentation.ts
  ui/src/api/static/index.ts
  ui/src/components/hooks/useMyApi.tsx
  ui/src/components/hooks/useMyModal.tsx
  ui/src/components/hooks/useMyPreferences.tsx
  ui/src/components/hooks/useMySitemap.tsx
  ui/src/components/hooks/useMySnackbar.tsx
  ui/src/components/hooks/useMyTheme.tsx
  ui/src/i18n.ts
  ui/src/lib/components/EnrichedChip.tsx
  ui/src/lib/components/RetryFailedEnrichments.tsx
  ui/src/lib/components/SourcePicker.tsx
  ui/src/lib/components/actions/ResultModal.tsx
  ui/src/lib/components/display/graph/index.tsx
  ui/src/lib/components/display/markdown/DynamicTabs.tsx
  ui/src/lib/components/display/markdown/index.tsx
  ui/src/lib/components/display/markdown/markdownPlugins/tabs.ts
  ui/src/lib/components/fetchers/StatusChip.tsx
  ui/src/lib/components/group/GroupControl.tsx
  ui/src/lib/components/stats/QueryStatus.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/ClueGroupContext.tsx
  ui/src/lib/hooks/enrich.test.tsx
  ui/src/lib/hooks/selectors.tsx
  ui/src/lib/hooks/useClueConfig.tsx
  ui/src/lib/hooks/useErrors.tsx
  ui/src/lib/hooks/useMyLocalStorage.tsx
  ui/src/lib/utils/graph.ts
  ui/src/lib/utils/loggerUtil.ts
  ui/src/lib/utils/sessionStorage.ts
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
  ui/vite.config.ts
Due: lint-staged, bad-ui-imports, check-translation

Removing geventhttpclient, reworking monkey-patching
  api/.coveragerc.pytest
  api/Dockerfile
  api/build_scripts/run_tests.py
  api/clue/app.py
  api/clue/constants/env.py
  api/clue/helper/discover.py
  api/clue/remote/datatypes/__init__.py
  api/clue/services/lookup_service.py
  api/clue/services/type_service.py
  api/poetry.lock
  api/pyproject.toml
  plugins/base/base.Dockerfile
Due: poetry-check-api

Case insensitive type support
  api/clue/api/v1/lookup.py
  api/clue/models/selector.py
  api/test/integration/api/test_lookups.py
Due: none

Improved error handling in OBO functionality and type service
  api/clue/security/obo.py
  api/clue/services/type_service.py
Due: none

Handle frontend error on enrich a little better
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/ClueEnrichProps.d.ts
Due: lint-staged, bad-ui-imports, check-translation

updating doc on charts/new plugin charts
  mkdocs/docs/installation/app.md
  mkdocs/docs/installation/deps.md
  mkdocs/docs/installation/plugin.md
  mkdocs/mkdocs.yml
Due: none

testing chart repo in github pages
  mkdocs/.gitignore
  mkdocs/docs/charts/clue-plugin-0.1.0.tgz
  mkdocs/docs/charts/index.yaml
Due: none

Change versioning scheme for plugins
  .github/workflows/build-plugin.yml
Due: none

Additional error logging in jwt validation
  api/clue/models/config.py
  api/clue/services/auth_service.py
  api/clue/services/jwt_service.py
  api/test/unit/services/test_jwt_service.py
Due: none
