Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --output-format=concise]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: poetry-check-api
        name: poetry-check-api
        entry: api/build_scripts/check_poetry.sh
        language: script
        stages: [pre-commit]
        files: ^api/.*\.(toml|lock)
      - id: lint-staged
        name: lint-staged
        entry: ui/build_scripts/lint_staged.sh
        language: script
        stages: [pre-commit]
        files: ^ui/.*
      - id: bad-ui-imports
        name: bad-ui-imports
        entry: ui/build_scripts/find_bad_imports.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*
      - id: check-translation
        name: check-translation
        entry: ui/build_scripts/check_translation.py
        language: python
        stages: [pre-commit]
        files: ^ui/.*

translation
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

excellent test progress
  api/clue/models/config.py
  api/clue/models/schema.py
  api/clue/models/sync.py
  api/clue/services/mongo_service.py
  api/test/integration/services/test_mongo_service.py
Due: none

Working on api workflow
  .github/workflows/api-workflow.yml
Due: none

Update api/clue/services/mongo_service.py
  api/clue/services/mongo_service.py
Due: none

Update demo/api.env.example
  demo/api.env.example
Due: none

pr feedback
  api/clue/services/mongo_service.py
Due: none

style cleanup
  api/clue/services/mongo_service.py
Due: none

coverage work
  .github/workflows/api-workflow.yml
  api/build_scripts/coverage_reports.py
Due: none

more coverage work
  api/build_scripts/coverage_reports.py
Due: none

API unit tests
  api/test/unit/test_api.py
Due: none

and tests for sync API
  api/test/integration/api/test_sync.py
Due: none

Update api/clue/models/config.py
  api/clue/models/config.py
Due: none

pr feedback
  api/clue/services/lookup_service.py
  api/clue/services/mongo_service.py
  pyrightconfig.json
  ui/src/lib/database/replication.ts
  ui/src/lib/hooks/ClueDatabaseContext.tsx
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/utils/constants.ts
Due: lint-staged, bad-ui-imports, check-translation

more unit tests
  api/test/unit/test_catchall.py
  pyrightconfig.json
Due: none

fix(api): fixed action context to match what is sent by the ui
  .github/workflows/ui-workflow.yml
  api/clue/models/actions.py
  api/pyproject.toml
  api/test/integration/api/test_actions.py
  plugins/base/VERSION
Due: poetry-check-api

test fixes
  .vscode/settings.json
  api/test/unit/validation/test_action_validation.py
Due: none

test fixes
  api/test/utils/test_server.py
Due: none

fix(api): fixed action context to match what is sent by the ui (#48)
  .github/workflows/ui-workflow.yml
  .vscode/settings.json
  api/clue/models/actions.py
  api/pyproject.toml
  api/test/integration/api/test_actions.py
  api/test/unit/validation/test_action_validation.py
  api/test/utils/test_server.py
  plugins/base/VERSION
Due: poetry-check-api

chore: bump versions post release
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

Update README.md
  README.md
Due: none

pin react-router versions
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

feat(ui): Added action configuration button
  ui/src/lib/components/actions/ExecutePopover.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

Add assemblyline & howler icons (#32)
  plugins/assemblyline/app.py
  plugins/assemblyline/tests/test_assemblyline.py
  plugins/howler/app.py
Due: none

SPBK-3887: Added ability to force menu and add context to action execution
  ui/src/components/routes/Actions.tsx
  ui/src/lib/components/display/json/index.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

Fix react-router versions
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports, check-translation

add url repository
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

Fix raw data & add timestamps (#41)
  plugins/assemblyline/app.py
Due: none

feat(ui,api): added file result to actions and fetchers (#38)
  api/build_scripts/coverage_reports.py
  api/build_scripts/run_tests.py
  api/build_scripts/set_version.py
  api/clue/api/v1/static.py
  api/clue/common/bytes_utils.py
  api/clue/models/actions.py
  api/clue/models/fetchers.py
  api/clue/models/results/__init__.py
  api/clue/models/results/file.py
  api/clue/models/results/validation.py
  api/clue/services/action_service.py
  api/test/integration/api/test_actions.py
  api/test/integration/api/test_cronjobs.py
  api/test/integration/api/test_fetchers.py
  api/test/unit/common/test_common.py
  api/test/unit/test_bytes_utils.py
  api/test/unit/validation/test_fetcher_validation.py
  api/test/unit/validation/test_graph_validation.py
  api/test/utils/example.txt
  api/test/utils/test_server.py
  plugins/setup/create.py
  plugins/setup/interactive.py
  ui/build_scripts/check_translation.py
  ui/build_scripts/find_bad_imports.py
  ui/build_scripts/prep_for_publish.py
  ui/build_scripts/set_version.py
  ui/src/components/routes/examples/file_result.json
  ui/src/components/routes/examples/index.tsx
  ui/src/lib/components/actions/ResultModal.tsx
  ui/src/lib/components/actions/formats/FileResult.test.tsx
  ui/src/lib/components/actions/formats/FileResult.tsx
  ui/src/lib/components/actions/formats/index.tsx
  ui/src/locales/en/translation.json
  ui/src/locales/fr/translation.json
Due: lint-staged, bad-ui-imports, check-translation

chore(api): pr feedback
  api/clue/models/results/file.py
  api/clue/services/action_service.py
Due: none

fix(plugin): ensure that alternate_bulk_lookup passes along the token
  api/clue/plugin/__init__.py
Due: none

Checking fix
  api/clue/api/v1/static.py
Due: none

Changing the static api to find the path a different way
  api/clue/api/v1/static.py
Due: none

Fixing build
  api/clue/api/v1/static.py
Due: none

Fixing message output
  api/clue/api/v1/static.py
Due: none

feat(ui, api): async fetcher results (#35)
  api/clue/api/v1/actions.py
  api/clue/api/v1/fetchers.py
  api/clue/models/fetchers.py
  api/clue/plugin/__init__.py
  api/clue/services/action_service.py
  api/clue/services/fetcher_service.py
  api/test/integration/api/test_fetchers.py
  api/test/utils/test_server.py
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/api/fetchers/index.ts
  ui/src/api/fetchers/status.ts
  ui/src/lib/components/fetchers/Fetcher.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/ClueFetcherContext.tsx
  ui/src/lib/hooks/useFetcherResult.tsx
  ui/src/lib/types/fetcher.d.ts
Due: lint-staged, bad-ui-imports, check-translation

feat(ui, api): Fixing plugin dashboard in clue (#43)
  api/clue/api/v1/static.py
  ui/src/components/routes/Documentation.tsx
Due: lint-staged, bad-ui-imports, check-translation

feat(ui): Ensure newlines are respected in annotation summaries (#46)
  ui/src/lib/components/AnnotationEntry.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): revert eslint version update
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports, check-translation

remove form after action has started
  ui/src/lib/hooks/ClueActionContext.tsx
Due: lint-staged, bad-ui-imports, check-translation
