Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

poetry-check-api:
  name: poetry-check-api
  entry: api/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: bad-ui-imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

check-translation:
  name: check-translation
  entry: ui/build_scripts/check_translation.py
  language: python
  stages:
  - pre-commit

fix: removing unused types
  api/clue/common/regex.py
  api/clue/constants/supported_types.py
Due: none

fix: unit tests
  api/test/unit/common/test_regex.py
Due: none

style: add annotation
  api/clue/constants/supported_types.py
Due: none

Yet more fixes
  api/clue/constants/supported_types.py
Due: none

fix: unit tests
  api/clue/constants/supported_types.py
Due: none

Lots of docs work
  .github/workflows/mkdocs.yml
  docs/api/CONTRIBUTING.en.md
  docs/api/CONTRIBUTING.fr.md
  docs/api/schemas/config.schema.json
  mkdocs/docs/.nav.yml
  mkdocs/docs/developer/.nav.yml
  mkdocs/docs/developer/CONTRIBUTING.md
  mkdocs/docs/developer/backend/extensions.en.md
  mkdocs/docs/developer/backend/extensions.fr.md
  mkdocs/docs/developer/backend/index.fr.md
  mkdocs/docs/developer/backend/index.md
  mkdocs/docs/developer/design/caching.en.md
  mkdocs/docs/developer/design/caching.fr.md
  mkdocs/docs/developer/frontend/index.fr.md
  mkdocs/docs/developer/frontend/index.md
  mkdocs/docs/developer/frontend/testing.fr.md
  mkdocs/docs/developer/frontend/testing.md
  mkdocs/docs/developer/getting_started.md
  mkdocs/docs/developer/index.md
  mkdocs/docs/developer/plugin.fr.md
  mkdocs/docs/installation/helm.fr.md
  mkdocs/docs/installation/plugin.md
  mkdocs/docs/overview/.nav.yml
  mkdocs/docs/overview/integration.fr.md
  mkdocs/docs/overview/integration.md
  mkdocs/docs/overview/plugin_developers.fr.md
  mkdocs/docs/overview/plugin_developers.md
  mkdocs/docs/overview/users.fr.md
  mkdocs/docs/overview/users.md
  mkdocs/docs/proposals/deployment-ui.md
  mkdocs/docs/releases/api.md
  mkdocs/docs/releases/ui.md
  mkdocs/mkdocs.yml
  mkdocs/poetry.lock
  mkdocs/pyproject.toml
  mkdocs/requirements.txt
Due: none

chore: localization
  mkdocs/docs/developer/index.fr.md
Due: none

chore: localization
  .github/workflows/mkdocs.yml
Due: none

New home page
  mkdocs/override/home.html
Due: none

expanded plugin descriptions
  mkdocs/override/home.html
Due: none

Fix links
  mkdocs/mkdocs.yml
Due: none

Added a missing warning function
  api/clue/plugin/__init__.py
Due: none

Fix plugin custom type handling (#25)
  api/clue/plugin/__init__.py
  api/test/unit/plugin/test_response_serialization.py
Due: none

Various view tweaks
  ui/build_scripts/find_bad_imports.py
  ui/src/components/routes/home/index.tsx
  ui/src/lib/components/AnnotationBody.tsx
  ui/src/lib/icons/Context.tsx
Due: lint-staged, bad-ui-imports, check-translation

task(types): change namespace separator from slash to underscore (#26)
  api/clue/constants/supported_types.py
  api/test/integration/extensions/test_extension_init.py
  plugins/base/base.Dockerfile
Due: none

fix(ui): resolved type error on compile
  ui/src/lib/components/ClassificationChip.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): resolved issue with action forms and context type
  ui/src/components/app/App.tsx
  ui/src/lib/components/actions/form/schemaAdapter.tsx
Due: lint-staged, bad-ui-imports, check-translation

rename eslintrc
  ui/.eslintrc.json
Due: lint-staged, bad-ui-imports, check-translation

chore: revert eslint to v8.x
  ui/.eslintrc
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports, check-translation

added release documentation
  mkdocs/docs/releases/api.md
  mkdocs/docs/releases/ui.md
Due: none

fix(ui): merge conflict in package.json
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

fix: revert bad dependency update
  .vscode/settings.json
  ui/package.json
  ui/pnpm-lock.yaml
Due: lint-staged, bad-ui-imports, check-translation

fix: avoid double-install of libffi-dev
  plugins/base/plugin.Dockerfile
Due: none

Added check for closed collection to enrichment queuing, pin react-router versions
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/lib/hooks/ClueEnrichContext.tsx
Due: lint-staged, bad-ui-imports, check-translation

chore: bump versions post release
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

pin react-router versions
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): add additional status collection checks
  ui/src/lib/components/stats/QueryStatus.tsx
  ui/src/lib/hooks/useAnnotations.tsx
Due: lint-staged, bad-ui-imports, check-translation

chore: bump version
  ui/package.json
Due: lint-staged, bad-ui-imports, check-translation

fix: added closed check to selector collection queries
  ui/package.json
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/useAnnotations.tsx
  ui/src/lib/hooks/useErrors.tsx
Due: lint-staged, bad-ui-imports, check-translation

Fixed documentation not showing up in the contributing page
  ui/pnpm-lock.yaml
  ui/src/components/routes/Contributing.tsx
Due: lint-staged, bad-ui-imports, check-translation

Update README.md
  README.md
Due: none

feat(ui): starting work on replication
  ui/pnpm-workspace.yaml
  ui/src/api/index.ts
  ui/src/api/sync/index.ts
  ui/src/lib/database/index.ts
  ui/src/lib/database/replication.ts
  ui/src/lib/database/selector.schema.json
  ui/src/lib/database/sync.d.ts
  ui/src/lib/database/types.d.ts
Due: lint-staged, bad-ui-imports, check-translation

first draft of docker compose demo
  demo/docker-compose.yml
  demo/nginx.conf
Due: none

Lots of progress
  api/clue/api/__init__.py
  api/clue/api/v1/sync.py
  api/clue/config.py
  api/clue/models/config.py
  api/clue/models/mongodb.py
  api/clue/models/network.py
  api/clue/models/schema.py
  api/clue/services/mongo_service.py
  api/dev/docker-compose.yml
  api/poetry.lock
  api/pyproject.toml
  demo/README.md
  demo/docker-compose.yml
  demo/keycloak/Dockerfile
  demo/keycloak/keycloak-realm.json
  ui/src/api/sync/index.ts
  ui/src/lib/database/index.ts
  ui/src/lib/database/replication.ts
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

First draft implementation in
  api/clue/api/__init__.py
  api/clue/app.py
  api/clue/models/mongodb.py
  api/clue/models/network.py
  api/clue/models/schema.py
  api/clue/services/lookup_service.py
  api/clue/services/mongo_service.py
  demo/docker-compose.yml
  ui/src/api/sync/index.ts
  ui/src/components/app/App.tsx
  ui/src/lib/database/index.ts
  ui/src/lib/database/replication.ts
  ui/src/lib/database/selector.schema.json
  ui/src/lib/database/sync.d.ts
  ui/src/lib/database/types.d.ts
  ui/src/lib/hooks/ClueDatabaseContext.tsx
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/useAnnotations.tsx
Due: lint-staged, bad-ui-imports, check-translation

Improving replication robustness
  api/clue/api/v1/sync.py
  api/clue/models/schema.py
  api/clue/models/sync.py
  api/clue/services/lookup_service.py
  api/clue/services/mongo_service.py
  ui/src/api/sync/index.ts
  ui/src/components/routes/examples/index.tsx
  ui/src/lib/database/index.ts
  ui/src/lib/database/replication.ts
  ui/src/lib/hooks/ClueDatabaseContext.tsx
  ui/src/lib/hooks/ClueEnrichContext.tsx
  ui/src/lib/hooks/useAnnotations.tsx
  ui/src/rest/AxiosClient.ts
Due: lint-staged, bad-ui-imports, check-translation

some documentation
  mkdocs/docs/developer/design/replication.en.md
Due: none

adding asyncronous fetcher results
  api/clue/api/v1/actions.py
  api/clue/api/v1/fetchers.py
  api/clue/models/fetchers.py
  api/clue/services/action_service.py
  api/clue/services/fetcher_service.py
  ui/src/api/fetchers/index.ts
  ui/src/api/fetchers/status.ts
  ui/src/lib/components/fetchers/Fetcher.tsx
  ui/src/lib/hooks/ClueActionContext.tsx
  ui/src/lib/hooks/ClueFetcherContext.tsx
  ui/src/lib/hooks/useFetcherResult.tsx
  ui/src/lib/types/fetcher.d.ts
Due: lint-staged, bad-ui-imports, check-translation

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
  check-translation: any of: ^ui/.*
