Repository CybercentreCanada/clue: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check-api, lint-staged, bad-ui-imports, check-translation

poetry-check-api:
  name: poetry-check-api
  entry: api/build_scripts/check_poetry.sh
  language: script
  stages:
  - pre-commit

lint-staged:
  name: lint-staged
  entry: ui/build_scripts/lint_staged.sh
  language: script
  stages:
  - pre-commit

bad-ui-imports:
  name: bad-ui-imports
  entry: ui/build_scripts/find_bad_imports.py
  language: python
  stages:
  - pre-commit

check-translation:
  name: check-translation
  entry: ui/build_scripts/check_translation.py
  language: python
  stages:
  - pre-commit

formatting
  api/clue/models/actions.py
Due: none

Potential fix for pull request finding
  ui/src/lib/hooks/actions.test.tsx
Due: lint-staged, bad-ui-imports, check-translation

validation for partial data
  api/clue/models/actions.py
Due: none

validate partial result test
  api/test/unit/validation/test_action_validation.py
Due: none

Potential fix for pull request finding
  api/test/unit/validation/test_action_validation.py
Due: none

fix(api): validation on pending action output (#80)
  api/clue/models/actions.py
  api/test/unit/validation/test_action_validation.py
  ui/src/lib/hooks/actions.test.tsx
Due: lint-staged, bad-ui-imports, check-translation

release notes
  mkdocs/docs/releases/api.md
  mkdocs/docs/releases/ui.md
Due: none

feat(plugin): add MISP enrichment plugin (#76)
  .github/workflows/misp-plugin-workflow.yml
  README.fr.md
  README.md
  demo/.gitignore
  demo/README.md
  demo/docker-compose.yml
  demo/misp.env.example
  mkdocs/override/home.html
  plugins/misp/.dockerignore
  plugins/misp/README.md
  plugins/misp/app.py
  plugins/misp/manifest.yml
  plugins/misp/requirements.txt
  plugins/misp/tests/test_misp.py
Due: none

fix(ui,api): disable replication by default for now
  api/clue/models/config.py
Due: none

fix(ui): fix clue UI publishing
  .github/workflows/ui-workflow.yml
Due: none

chore: bump versions post release
  api/pyproject.toml
  ui/package.json
Due: poetry-check-api, lint-staged, bad-ui-imports, check-translation

add excluded_soures field to ParsedParams
  api/clue/services/lookup_service.py
Due: none

skip source if in exclude list
  api/clue/services/lookup_service.py
Due: none

check for entry level excluded sources
  api/clue/services/lookup_service.py
Due: none

update docstring and add tests
  api/clue/api/v1/lookup.py
  api/test/integration/api/test_lookups.py
Due: none

strip ws and check for empty values when collecting include/exclude lists
  api/clue/services/lookup_service.py
Due: none

add more detailed docstring for exclusion
  api/clue/api/v1/lookup.py
Due: none

fix: remove version pinning and ignore hadolint
  plugins/base/plugin.Dockerfile
Due: none

improve doc and test for overlapping exclude/include lists
  api/clue/api/v1/lookup.py
  api/test/integration/api/test_lookups.py
Due: none

extract per entry source parsing outside of source for loop
  api/clue/services/lookup_service.py
Due: none

correct wording in docstring and update logging to debug exclusion info
  api/clue/services/lookup_service.py
Due: none

key entry source dict by type and value
  api/clue/services/lookup_service.py
  api/test/integration/api/test_lookups.py
Due: none

skip if entry level sources is empty
  api/clue/services/lookup_service.py
Due: none

fix security module dependency hell
  api/clue/security/__init__.py
Due: none

tweak imports
  api/clue/security/__init__.py
Due: none

bump versions
  api/pyproject.toml
  plugins/base/VERSION
Due: poetry-check-api

fix(api): resolve issue with jwt_service importing a long chain of modules (#83)
  api/clue/security/__init__.py
  api/pyproject.toml
  plugins/base/VERSION
Due: poetry-check-api

fix(api): ensure timestamp type isn't falsely required
  api/clue/models/network.py
  api/pyproject.toml
  api/test/unit/validation/test_models.py
Due: poetry-check-api

update release notes
  mkdocs/docs/releases/api.md
Due: none

fix(api): fix plugin dependencies when using jwt_service
  api/poetry.lock
  api/pyproject.toml
  mkdocs/docs/releases/api.md
Due: poetry-check-api

fix(plugin): unpin build base to fix plugin image builds (#82)
  plugins/base/plugin.Dockerfile
Due: none

add link fix
  ui/src/lib/components/AnnotationDetailPopover.tsx
Due: lint-staged, bad-ui-imports, check-translation

Potential fix for pull request finding
  ui/src/lib/components/AnnotationDetailPopover.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(ui): Fix application links not opening (#84)
  ui/src/lib/components/AnnotationDetailPopover.tsx
Due: lint-staged, bad-ui-imports, check-translation

fix(api): update content type checking in fetcher service
  api/clue/services/fetcher_service.py
Due: none

feat(api): properly validate fetcher classification
  api/clue/services/fetcher_service.py
  api/test/integration/api/test_fetchers.py
  api/test/unit/services/test_fetcher_service.py
Due: none

fix lockfile
  api/poetry.lock
Due: poetry-check-api

Potential fix for pull request finding
  api/clue/services/fetcher_service.py
Due: none

extract util function for obo token
  .vscode/settings.json
  api/clue/services/fetcher_service.py
  api/test/unit/services/test_fetcher_service.py
Due: none

Path conditions:
  poetry-check-api: any of: ^api/.*\.(toml|lock)
  lint-staged: any of: ^ui/.*
  bad-ui-imports: any of: ^ui/.*
  check-translation: any of: ^ui/.*
